<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="https://huwelijksplanner.online/images/content/ambtenaar/erik.jpg" alt="..."
                         class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ app.user.username }}

                                    {% if 'balie-medewerkers' in app.user.roles %}
                                        <span class="user-level">Balie medewerker</span>
                                    {% endif %}
                                    {% if 'group.trouw-ambtenaar' in app.user.roles %}
                                        <span class="user-level">Trouwambtenaar</span>
                                    {% endif %}
                                    {% if 'group.locatie-beheerders' in app.user.roles %}
                                        <span class="user-level">Locatie beheerder</span>
                                    {% endif %}
                                    {% if 'group.beheerder' in app.user.roles %}
                                        <span class="user-level">Beheerder</span>
                                    {% endif %}

									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('app_user_logout') }}">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                {% if 'group.trouw-ambtenaar' in app.user.roles or 'balie-medewerkers' in app.user.roles %}
                    <li class="nav-section">
                        <h4 style="color: black" class="text-section">Aanvragen</h4>
                    </li>
                {% endif %}
                {% if 'group.trouw-ambtenaar' in app.user.roles or 'balie-medewerkers' in app.user.roles %}
                    <li class="nav-item">
                        <a href="{{ path('app_vrc_requests',{'requestType': "5b10c1d6-7121-4be2-b479-7523f1b625f1"}) }}">
                            Huwelijken
                        </a>
                    </li>
                {% endif %}
                {% if 'group.balie-medewerkers' in app.user.roles %}
                    <li  class="nav-item">
                        <a href="{{ path('app_vrc_requests', {'requestType': "4830cd4c-d8ce-4f8c-a8ad-f3dc821911f3"}) }}">
                           Naamwijzigingen
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a href="{{ path('app_vrc_requests', {'requestType': "27f6ecf0-34bb-4100-a375-d14f2d5ee1d0"}) }}">
                           Eigen BABS Beëdigd
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a href="{{ path('app_vrc_requests', {'requestType': "cdd7e88b-1890-425d-a158-7f9ec92c9508"}) }}">
                            Eigen BABS Niet-Beëdigd
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_vrc_requests', {'requestType': "c8704ea6-4962-4b7e-8d4e-69a257aa9577"}) }}">
                           Eigen Locatie
                        </a>
                    </li>
                {% endif %}

                {% if 'group.trouw-ambtenaar' in app.user.roles %}
                    <li class="nav-item">
                        <a href="{{ path('app_babs_agenda') }}">
                            Mijn Agenda</a>
                    </li>
                {% endif %}

                {% if 'group.balie-medewerkers' in app.user.roles %}
                    <li class="nav-item">
                        <a href="{{ path('app_babs_babsagenda') }}">
                            Planning Trouwambtenaren</a>
                    </li>
                {% endif %}

                {% if 'group.locatie-beheerders' in app.user.roles %}

                    <li class="nav-item">
                        <a href="{{ path('app_babs_locatieagenda') }}">
                            Planning Locaties</a>
                    </li>

                {% endif %}


                    <li class="nav-item">
                        <h4 style="color: black" class="text-section">{{ 'components'|trans|capitalize }}</h4>
                    </li>

                    {% if 'scope.lc-accommodations-write' in app.user.roles or 'scope.lc-places-write' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#locations" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'locations'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="locations">
                            <ul class="nav nav-collapse">
                                {% if 'scope.lc-accommodations-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_lc_accommodations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'accommodations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 'scope.lc-places-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_lc_places") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'places'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if 'scope.mrc-employees-write' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#employees" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'employees'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="employees">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_mrc_employees") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'employees'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if 'scope.irc-assents-write' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#assents" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'assents'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="assents">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_irc_assents") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'assents'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#evc" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'Deployments'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="evc">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_evc_clusters") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'clusters'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_evc_components") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'components'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {#
                                <li>
                                    <a href="{{ path("app_evc_domains") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'domains'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_evc_environments") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'environments'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                #}
                                <li>
                                    <a href="{{ path("app_evc_healthlogs") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'healt logs'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {#
                                <li>
                                    <a href="{{ path("app_evc_installations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'installations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                #}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#ac" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'calendar'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="ac">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_arc_calendars") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'calendars'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_arc_resources") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'resources'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#bc" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'payments'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="bc">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_bc_invoices") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'invoices'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_bc_payments") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'payments'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_bc_taxes") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'taxes'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_bc_services") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'services'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}


                {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#orc" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'orders'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="orc">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_orc_orders") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'orders'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_orc_taxes") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'taxes'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <!-- deze worden niet meer gebruikt
                                <li>
                                    <a href="{{ path("app_orc_organizations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'organizations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#bs" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'messages'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="bs">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_bs_messages") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'messages'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_bs_services") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'servicesf'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'group.beheerder' in app.user.roles %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#contacts" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'contacts'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="contacts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_cc_persons") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'persons'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_cc_organizations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'organizations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_cc_contactlists") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'contact lists'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_cc_addresses") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'addresses'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_cc_emails") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'emails'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_cc_telephones") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'telephones'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'scope.vrc-request-write' in app.user.roles or 'scope.vtc-requesttypes-write' in app.user.roles  %}
                    <li class="nav-section">
                        <h4 style="color: black" class="text-section">{{ 'requests'|trans|capitalize }}</h4>
                    </li>

                    <li class="nav-item">
                        <a data-toggle="collapse" href="#requests" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'requests'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="requests">
                            <ul class="nav nav-collapse">
                                {% if 'scope.vrc-request-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_vrc_requests") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'requests'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 'scope.vtc-requesttypes-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_vtc_requesttypes") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'requests types'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'group.beheerder' in app.user.roles or 'group.balie-medewerkers' in app.user.roles %}
                    <li class="nav-section">
                        <h4 style="color: black" class="text-section">{{ 'cases'|trans|capitalize }}</h4>
                    </li>

                    <li class="nav-item">
                        <a data-toggle="collapse" href="#cases" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'cases'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="cases">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_zgw_cases") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'cases'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_zgw_casetypes") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'types'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_zgw_documents") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'documents'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_zgw_verdicts") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'verdicts'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'scope.uc-users-write' in app.user.roles or 'scope.uc-groups-write' in app.user.roles  or 'scope.uc-scopes-write' in app.user.roles  %}
                    <li class="nav-section">
                        <h4 style="color: black" class="text-section">{{ 'configuration'|trans|capitalize }}</h4>
                    </li>

                    <li class="nav-item">
                        <a data-toggle="collapse" href="#configuration_uc" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'users'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="configuration_uc">
                            <ul class="nav nav-collapse">
                            {% if 'scope.uc-users-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_uc_users") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'users'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if 'scope.uc-users-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_uc_groups") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'groups'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if 'scope.uc-users-write' in app.user.roles %}
                                <li>
                                    <a href="{{ path("app_uc_scopes") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'scopes'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'group.beheerder' in app.user.roles  %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#configuration_wrc" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'configuration'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="configuration_wrc">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_wrc_templates") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'templates'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_styles") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'styles'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_images") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'images'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_menus") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'menus'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_organizations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'organizations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_applications") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'applications'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_wrc_configurations") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'configurations'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% if 'group.beheerder' in app.user.roles or 'group.balie-medewerkers' in app.user.roles %}
                    <li class="nav-section">
                        <h4 style="color: black" class="text-section">{{ 'products'|trans|capitalize }}</h4>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#products" class="" aria-expanded="false">
                            <p style="color: #575962">{{ 'products'|trans|capitalize }}</p>
                            <span style="color: #575962" class="caret"></span>
                        </a>
                        <div class="collapse" id="products">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ path("app_pdc_products") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'products'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_pdc_groups") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'groups'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_pdc_offers") }}">
                                        <span style="color: #575962"
                                              class="sub-item">{{ 'offers'|trans|capitalize }}</span>
                                    </a>
                                </li>
                                {% if 'group.beheerder' in app.user.roles %}
                                    <li>
                                        <a href="{{ path("app_pdc_offers") }}">
                                            <span style="color: #575962"
                                                  class="sub-item">{{ 'taxes'|trans|capitalize }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path("app_pdc_catalogues") }}">
                                            <span style="color: #575962"
                                                  class="sub-item">{{ 'catalogues'|trans|capitalize }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path("app_pdc_suppliers") }}">
                                            <span style="color: #575962"
                                                  class="sub-item">{{ 'suppliers'|trans|capitalize }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path("app_pdc_customertypes") }}">
                                            <span style="color: #575962"
                                                  class="sub-item">{{ 'customer types'|trans|capitalize }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}


            </ul>
            <img style="margin-left: 25px;margin-top: 20px; width: 200px; "
                 src="https://platform-duic.imgix.net/app/uploads/sites/2/2016/04/Logo_gemeente_Utrecht-4.jpg?auto=format%2Ccompress&ch=Width%2CDPR%2CSave-Data&dpr=2.63&fit=max&h=430&ixjsv=2.2.4&ixlib=php-1.2.1&q=38">
        </div>
    </div>
</div>
<!-- End Sidebar -->
