{% extends "body.html.twig" %}

{% block content %}

    {% set view = 'app_cgrc_componentfile' %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'save or create a component file',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'component files' : {
                        'name' : 'component files',
                        'path' : 'app_cgrc_component_files'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path(view, {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_cgrc_component_files')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <a href="#changeLog" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                        <a href="#auditTrial" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                        <a href="#delete" class="btn btn-danger" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name" placeholder="Large Input"
                                                       value="{{ resource.name }}">
                                            </div>
                                        </div> <!-- /.col -->

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label
                                                    for="largeInput">{{ 'all'|trans|capitalize }} {{ 'groups'|trans }}</label>
                                                <ul>
                                                    {% if resource.groups is defined and resource.groups is not empty %}
                                                        {% for group in resource.groups %}
                                                            <li>{{ group.name }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-6 row offset-md-6">

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label
                                                        for="largeInput">{{ 'add'|trans|capitalize }} {{ 'group'|trans }}</label>
                                                    <select class="form-control form-control-lg" id="addgroup"
                                                            name="addgroup">
                                                        <option value="">-</option>
                                                        {% if groups is defined and groups is not empty %}
                                                            {% for group in groups %}
                                                                <option
                                                                    value="groups/{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div> <!-- /.col -->

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'delete'|trans|capitalize }} </label>
                                                    <select class="form-control form-control-lg" id="removegroup"
                                                            name="removegroup">
                                                        <option value="">-</option>
                                                        {% if resource.groups is defined and resource.groups is not empty %}
                                                            {% for group in resource.groups %}
                                                                <option
                                                                    value="groups/{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div> <!-- /.col -->

                                        </div><!-- /.col /.row -->

                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control" rows="5" id="description"
                                                          name=description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2>Groups</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                    {#                                    {% if resource.groups is defined %}#}
                                    {#                                    {% for group in resource.groups %}#}
                                    {#                                        <tr>#}
                                    {#                                            <td>{{ group.name }}</td>#}
                                    {#                                            <td></td>#}
                                    {#                                        </tr>#}
                                    {#                                    {% endfor %}#}
                                    {#                                    {% endif %}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.page-inner -->

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_cgrc_component_file',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_cgrc_component_file',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_cgrc_component_file',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    </div>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/cgrc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/cgrc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
{% endblock %}
