<div class="modal fade" style="text-align: center" id="{{ id }}{% if item.id is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Title"><b>{% if item.id is defined %}{{ 'edit menu item'|trans|capitalize }} {{ item.id }}{%  else %}{{ 'add menu item'|trans|capitalize }}{% endif %}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{{ path(route, {id: resource.id}) }}" method="post">
                <div class="form-group">
                    <label for="menuItem[name]">{{ 'name'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="menuItem[name]" name="menuItem[name]" value="{% if item.name is defined %}{{ item.name }}{% endif %}" required>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="menuItem[description]">{{ 'description'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="menuItem[description]" name="menuItem[description]" value="{% if item.description is defined %}{{ item.description }}{% endif %}" required>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="menuItem[icon]">{{ 'icon'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="menuItem[icon]" name="menuItem[icon]" value="{% if item.icon is defined %}{{ item.icon }}{% endif %}" >
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="menuItem[href]">{{ 'url'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="menuItem[href]" name="menuItem[href]" value="{% if item.href is defined %}{{ item.href }}{% endif %}" >
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="menuItem[order]">{{ 'order'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="menuItem[order]" name="menuItem[order]" value="{% if item.order is defined %}{{ item.order }}{% endif %}" >
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="menuItem[type]">{{ 'type'|trans|capitalize }}</label>
                    <select id="menuItem[type]" name="menuItem[type]" class="form-control form-control-lg" required>
                        <option value="slug">{{ 'slug'|trans|capitalize }}</option>
                        <option value="url">{{ 'url'|trans|capitalize }}</option>
                        <option value="action">{{ 'action'|trans|capitalize }}</option>
                    </select>
                </div><!-- /.form-group -->

                {% if item['id'] is defined %}
                    <input type="hidden" id="menuItem[id]" name ="menuItem[id]" value="{{ item['id'] }}">
                {% endif %}
                {% if item['@id'] is defined %}
                    <input type="hidden" id="menuItem[@id]" name ="menuItem[@id]" value="{{ item['@id'] }}">
                {% endif %}

                <button type="submit" class="btn btn-success m-3  mx-auto">
                    {% if item['id'] is defined %}{{ 'save'|trans|capitalize }}{% else %}{{ 'add'|trans|capitalize }}{% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
