<div class="modal fade" style="text-align: center" id="{{ id }}{% if item.id is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Title"><b>{% if item.id is defined %}{{ 'edit style'|trans|capitalize }}{{ item.id }}{%  else %}{{ 'add style'|trans|capitalize }}{% endif %}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{{ path(route, {id: resource.id}) }}" method="post">
                <div class="form-group">
                    <label for="template[name]">{{ 'name'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="template[name]" name="template[name]" value="{% if item.name is defined %}{{ item.name }}{% endif %}" required>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="template[description]">{{ 'description'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="template[description]" name="template[description]" value="{% if item.description is defined %}{{ item.description }}{% endif %}">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="template[content]">{{ 'content'|trans|capitalize }}</label>
                    <textarea class="form-control form-control-lg" id="template[content]" name="template[content]" required>{% if item.content is defined %}{{ item.content }}{% endif %}</textarea>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="template[templateEngine]">{{ 'template engine'|trans|capitalize }}</label>
                    <select id="template[templateEngine]" name="template[templateEngine]" class="form-control form-control-lg" required>
                        <option value="twig">{{ 'twig'|trans|capitalize }}</option>
                    </select>
                </div><!-- /.form-group -->

                {% if item['id'] is not defined %}
                <div class="form-group">
                    <label for="template[slug]">{{ 'generate slug'|trans|capitalize }}</label>
                    <select id="template[slug]" name="template[slug]" class="form-control form-control-lg" required>
                        <option value="true" selected>{{ 'yes'|trans|capitalize }}</option>
                        <option value="no">{{ 'yes'|trans|capitalize }}</option>
                    </select>
                </div><!-- /.form-group -->
                {% endif %}

                {% if item['id'] is defined %}
                    <input type="hidden" id="style[id]" name ="style[id]" value="{{ item['id'] }}">
                {% endif %}
                {% if item['@id'] is defined %}
                    <input type="hidden" id="style[@id]" name ="style[@id]" value="{{ item['@id'] }}">
                {% endif %}
                <button type="submit" class="btn btn-success m-3  mx-auto">
                    {{ 'add'|trans|capitalize }}
                </button>
            </form>
        </div>
    </div>
</div>
