{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Partner 1</th>
                            <th scope="col">Partner 2</th>
                            <th scope="col">Ceremonie</th>
                            <th scope="col">Locatie</th>
                            <th scope="col">Datum</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request in requests %}
                            <tr>
                                {% if request.properties.partners[0] is defined and request.properties.partners[0] is not empty %}
                                    {% set assent1 = commonground_resource(request.properties.partners.0) %}
                                    {% set contact1 = commonground_resource(assent1.contact) %}
                                    <td>{{ contact1.name }}</td>
                                {% else %}
                                    <td style="color: lightgray;">Geen partner</td>
                                {% endif %}

                                {% if request.properties.partners[1] is defined and request.properties.partners[1] is not empty %}
                                    {% set assent2 = commonground_resource(request.properties.partners.1) %}
                                    {% set contact2 = commonground_resource(assent2.contact) %}
                                    <td>{{ contact2.name }}</td>
                                {% else %}
                                    <td style="color: lightgray;">Geen partner</td>
                                {% endif %}

                                {% if request.properties.type is defined and request.properties.type is not empty %}
                                    <td>{{ request.properties.type|capitalize }}</td>
                                {% else %}
                                    <td style="color: lightgray">Geen ceremonie</td>
                                {% endif %}

                                {% if request.properties.locatie is defined and request.properties.locatie is not empty %}
                                    <td>{{ commonground_resource(request.properties.locatie).name }}</td>
                                {% else %}
                                    <td style="color: lightgray">Geen locatie</td>
                                {% endif %}

                                {% if request.properties.datum is defined and request.properties.datum is not empty %}
                                    <td>{{ request.properties.datum|date("d-m-Y H:i", "Europe/Paris") }}</td>
                                {% else %}
                                    <td style="color: lightgray">Geen datum</td>
                                {% endif %}

                                <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                                       href="{{ path('app_babs_babshuwelijk', {id: request.id}) }}"><b>MEER INFO</b></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
