{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>


    {% if request.properties.partners[0] is defined and request.properties.partners[0] is not empty %}

        {% set assent1 = commonground_resource(request.properties.partners.0) %}
        {% set contact1 = commonground_resource(assent1.contact) %}

    {% endif %}

    {% if request.properties.partners[1] is defined and request.properties.partners[1] is not empty %}

        {% set assent2 = commonground_resource(request.properties.partners.1) %}
        {% set contact2 = commonground_resource(assent2.contact) %}

    {% endif %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2 class="d-inline-block">
                                    Huwelijksgegevens
                                    - {{ contact1.name }} {% if request.properties.partners[1] is defined and request.properties.partners[1] is not empty %} en {{ contact2.name }} {% endif %} </h2>
                                <div class="float-right">
                                    <button class="btn btn-danger" style="margin-right: 25px">Afwijzen</button>
                                    <button class="btn btn-success">Accepteren</button>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <tr>
                                    <th>Ceremonie</th>
                                    {% if request.properties.type is defined and request.properties.type is not empty %}
                                        <td>{{ request.properties.type|capitalize }}</td>
                                    {% else %}
                                        <td style="color: lightgray">Geen ceremonie</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Plechtigheid</th>
                                    {% if request.properties.plechtigheid is defined and request.properties.plechtigheid is not empty %}
                                        <td>{{ commonground_resource(request.properties.plechtigheid).name }}</td>
                                    {% else %}
                                        <td style="color: lightgray">Geen plechtigheid</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Locatie</th>
                                    {% if request.properties.locatie is defined and request.properties.locatie is not empty %}
                                        <td>{{ commonground_resource(request.properties.locatie).name }}</td>
                                    {% else %}
                                        <td style="color: lightgray">Geen locatie</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Datum</th>
                                    {% if request.properties.datum is defined and request.properties.datum is not empty %}
                                        <td>{{ commonground_resource(request.properties.datum).name }}</td>
                                    {% else %}
                                        <td style="color: lightgray">Geen datum</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Getuigen</th>
                                    {% if request.properties.getuigen is defined and request.properties.getuigen is not empty %}
                                        <td>
                                            {% for getuige in huwelijk.properties.getuigen %}
                                                {% set assent = commonground_resource(getuige) %}
                                                {% set contact = commonground_resource(assent.contact) %}
                                                {{ contact.formalName }}<br>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td style="color:lightgray">Geen getuigen</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Tolk</th>
                                    {#                                    {% if huwelijk.properties.tolk is defined and huwelijk.properties.tolk is not empty %}#}
                                    <td style="color: lightgray">Geen tolk</td>
                                </tr>
                                <tr>
                                    <th>Extra's</th>
                                    {% if request.properties.extras is defined and request.properties.extras is not empty %}
                                        {% for extra in variables.huwelijk.properties.extras %}
                                            {{ commonground_resource(extra).name }}<br>
                                        {% endfor %}
                                    {% else %}
                                        <td style="color: lightgray">Geen extra's</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Naamgebruik</th>
                                    <td>
                                    {% if request.properties.overig.naamgebruik[assent1['@id']] is defined and request.properties.overig.naamgebruik[assent1['@id']] is not empty %}

                                        Partner1: {{ request.properties.overig.naamgebruik[assent1['@id']] }}
                                        <br>
                                    {% endif %}
                                    {% if request.properties.overig.naamgebruik[assent2['@id']] is defined and request.properties.overig.naamgebruik[assent2['@id']] is not empty %}
                                        Partner2: {{ request.properties.overig.naamgebruik[assent2['@id']] }}

                                    {% endif %}
                                    </td>
                                    {% if request.properties.overig.naamgebruik[assent1['@id']] is not defined or request.properties.overig.naamgebruik[assent1['@id']] is empty and request.properties.overig.naamgebruik[assent2['@id']] is not defined or request.properties.overig.naamgebruik[assent2['@id']] is empty %}
                                        <td style="color: lightgray">Geen naamgebruik</td>
                                    {% endif %}
                                </tr>
                            </table>

                            <br>

                            <table class="table table-hover">
                                <tr>
                                    <th>Datum verzoek aangemaakt</th>
                                    <td>{{ request.dateCreated|date("d-m-Y H:i", "Europe/Paris") }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            {% include 'footer.html.twig' %}

        </div>
    </div>

{% endblock %}
