{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2 class="d-inline-block">9/11 <i style="color: limegreen;" class="fas fa-check"></i>
                                    Huwelijksgegevens </h2>
                                <div class="float-right">
                                    <a class="btn btn-danger" style="margin-right: 25px" href="#deleteHuwelijkModal"
                                       data-toggle="modal" data-target="#deleteHuwelijkModal">Annuleren</a>
                                    <a class="btn btn-danger" style="margin-right: 25px" href="#deleteHuwelijkModal2"
                                       data-toggle="modal" data-target="#deleteHuwelijkModal2">Afkeuren</a>
                                    <button class="btn btn-success">Goedkeuren</button>
                                </div>

                            </div>
                            <table class="table table-hover">
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.type is not defined or huwelijk.properties.type is empty %}
                                            <i style="color:red">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Ceremonie</th>
                                    <td>
                                        {% if huwelijk.properties.type is not defined or huwelijk.properties.type is empty %}
                                        {% else %}
                                            {{ huwelijk.properties.type|capitalize }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#typeModal"><i style=""
                                                                                                class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.plechtigheid is not defined or huwelijk.properties.plechtigheid is empty %}
                                            <i style="color:red">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Plechtigheid</th>
                                    <td>
                                        {% if huwelijk.properties.plechtigheid is not defined or huwelijk.properties.plechtigheid is empty %}
                                        {% else %}
                                            {{ commonground_resource(huwelijk.properties.plechtigheid).name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#plechtigheidModal"><i style=""
                                                                                                        class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.locatie is not defined or huwelijk.properties.locatie is empty %}
                                            <i style="color:red">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Locatie</th>
                                    <td>
                                        {% if huwelijk.properties.locatie is not defined or huwelijk.properties.locatie is empty %}
                                        {% else %}
                                            {{ commonground_resource(huwelijk.properties.locatie).name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#locatieModal"><i style=""
                                                                                                   class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.datum is not defined or huwelijk.properties.datum is empty %}
                                            <i style="color:red">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Datum</th>
                                    <td>
                                        {% if huwelijk.properties.datum is not defined or huwelijk.properties.datum is empty %}
                                        {% else %}
                                            {{ huwelijk.properties.datum|date("d-m-Y H:i", "Europe/Paris") }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#datumModal"><i style=""
                                                                                                 class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.ambtenaar is not defined or huwelijk.properties.ambtenaar is empty %}
                                            <i style="color:red">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Ambtenaar</th>
                                    <td>
                                        {% if huwelijk.properties.ambtenaar is not defined or huwelijk.properties.ambtenaar is empty %}
                                        {% else %}
                                            {{ commonground_resource(huwelijk.properties.ambtenaar).name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#ambtenaarModal"><i style=""
                                                                                                     class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.getuigen is not defined or huwelijk.properties.getuigen is empty or huwelijk.properties.getuigen|length <= 2 %}
                                            <i style="color: red;">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Getuigen</th>
                                    <td>
                                        {% if huwelijk.properties.getuigen is not defined or huwelijk.properties.getuigen is empty %}
                                        {% else %}
                                            {% for getuige in huwelijk.properties.getuigen %}
                                                {% set assent = commonground_resource(getuige) %}
                                                {% set contact = commonground_resource(assent.contact) %}
                                                {% if assent.status == "granted" %}
                                                    {{ contact.formalName }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#getuigenModal"><i style=""
                                                                                                    class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        <i style="color: limegreen;" class="fas fa-check"></i></td>
                                    <th>Tolk</th>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#tolkModal"><i style=""
                                                                                                class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.properties.extras is not defined or huwelijk.properties.extras is empty %}
                                            <i style="color: red;">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}</td>
                                    <th>Extra's</th>
                                    <td>
                                        {% if huwelijk.properties.extras is not defined or huwelijk.properties.extras is empty %}
                                        {% else %}
                                            {% for extra in huwelijk.properties.extras %}
                                                {{ commonground_resource(extra).name }}<br>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#extrasModal"><i style=""
                                                                                                  class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        {% if huwelijk.status == "incomplete" %}
                                            <i style="color: red;">X</i>
                                        {% else %}
                                            <i style="color: limegreen;" class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <th>Status</th>
                                    <td>{{ huwelijk.status|capitalize }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                                        <i style="color: red;">X</i>
                                    </td>
                                    <th>Betaald</th>
                                    <td>Nee</td>
                                    <td></td>
                                </tr>

                            </table>

                            <br>

                            <table class="table table-hover">
                                <tr>
                                    <th>Aangemaakt op</th>
                                    <td>{{ huwelijk.dateCreated|date("d-m-Y H:i", "Europe/Paris") }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2>Persoonsgegevens</h2>
                            </div>
                            <table class="table table-hover">
                                <tr>
                                    <th>Naam</th>
                                    {% if huwelijk.properties.partners[0] is defined and huwelijk.properties.partners[0] is not empty %}
                                        {% set assent1 = commonground_resource(huwelijk.properties.partners.0) %}
                                        {% set contact1 = commonground_resource(assent1.contact) %}
                                        <th>
                                            <p class="mb-0 pt-1 d-inline-block">{{ contact1.name }}</p>
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner1Modal"><i style=""
                                                                                                        class="fas fa-edit"></i>
                                            </button>
                                        </th>
                                    {% else %}
                                        <th></th>
                                    {% endif %}
                                    {% if huwelijk.properties.partners[1] is defined and huwelijk.properties.partners[1] is not empty %}
                                        {% set assent2 = commonground_resource(huwelijk.properties.partners.1) %}
                                        {% set contact2 = commonground_resource(assent2.contact) %}
                                        <th><p class="mb-0 pt-1 d-inline-block">{{ contact2.name }}</p>
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner2Modal"><i style=""
                                                                                                        class="fas fa-edit"></i>
                                            </button>
                                        </th>
                                    {% else %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    {% if huwelijk.properties.partners[0] is defined and huwelijk.properties.partners[0] is not empty %}
                                        <td>
                                            {% if contact1.emails[0] is defined and contact1.emails[0] is not empty %}
                                                <p class="mb-0 pt-1 d-inline-block">{{ contact1.emails[0] }}</p>
                                            {% else %}
                                                <p style="color: lightgray" class="mb-0 pt-1 d-inline-block">Geen
                                                    emailadres</p>
                                            {% endif %}
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner1EmailModal"><i style=""
                                                                                                             class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if huwelijk.properties.partners[1] is defined and huwelijk.properties.partners[1] is not empty %}
                                        <td>
                                            {% if contact1.emails[1] is defined and contact1.emails[1] is not empty %}
                                                <p class="mb-0 pt-1 d-inline-block">{{ contact1.emails[1] }}</p>
                                            {% else %}
                                                <p style="color: lightgray" class="mb-0 pt-1 d-inline-block">Geen
                                                    emailadres</p>
                                            {% endif %}
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner2EmailModal"><i style=""
                                                                                                             class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Telefoonnummer</th>
                                    {% if huwelijk.properties.partners[0] is defined and huwelijk.properties.partners[0] is not empty %}
                                        <td>
                                            {% if contact1.phone[0] is defined and contact1.phones[0] is not empty %}
                                                <p class="mb-0 pt-1 d-inline-block">{{ contact1.phones[0] }}</p>
                                            {% else %}
                                                <p style="color: lightgray" class="mb-0 pt-1 d-inline-block">Geen
                                                    telefoonnummer</p>
                                            {% endif %}
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner1PhoneModal"><i style=""
                                                                                                             class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if huwelijk.properties.partners[1] is defined and huwelijk.properties.partners[1] is not empty %}
                                        <td>
                                            {% if contact1.phone[1] is defined and contact1.phones[1] is not empty %}
                                                <p class="mb-0 pt-1 d-inline-block">{{ contact1.phones[1] }}</p>
                                            {% else %}
                                                <p style="color: lightgray" class="mb-0 pt-1 d-inline-block">Geen
                                                    telefoonnummer</p>
                                            {% endif %}
                                            <button style="padding: 4px; float: right" type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal" data-target="#partner2PhoneModal"><i style=""
                                                                                                             class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Naamgebruik</th>
                                    <td><p class="mb-0 pt-1 d-inline-block">{{ huwelijk.properties.overig.naamgebruik[0] }}</p>
                                        <button style="padding: 4px; float: right" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#partner1NaamModal"><i style=""
                                                                                                        class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td><p class="mb-0 pt-1 d-inline-block">Henrika Timmers</p>
                                        <button style="padding: 4px; float: right" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#partner2NaamModal"><i style=""
                                                                                                        class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Leeftijd</th>
                                    <td>34 jaar</td>
                                    <td>37 jaar</td>
                                </tr>
                                <tr>
                                    <th>Nederlandstalig</th>
                                    <td>Ja</td>
                                    <td>Ja</td>
                                </tr>
                                <tr>
                                    <th>Oudersgegevens</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Curatele</th>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                </tr>
                                <tr>
                                    <th>Verblijfstitel</th>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                </tr>
                                <tr>
                                    <th>Schijnhuwelijksverklaring</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Speciale opmerking</th>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                    <td style="color: lightgray">Niet van toepassing</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2 class="d-inline-block">Opmerkingen</h2>
                                <button style="padding: 7px 14px 7px 14px;" type="button"
                                        class="btn btn-primary float-right"
                                        data-toggle="modal" data-target="#contactModal"><i style=""
                                                                                           class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div style="margin-left: 12.5px;border-bottom: 1px solid #ebecec">
                                <h4 style="margin: 10px; margin-top: 20px"><b>24-1-2020</b></h4>
                                <h5 style="margin: 10px"><b>Opmerking:</b></h5>
                                <p style="margin: 10px">M. Timmers heeft verzocht om de trouwlocatie te wijzigen naar de
                                    grote zaal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html.twig' %}
        </div>
    </div>

    {# Modals #}

    <div class="modal fade" style="text-align: center" id="ceremonieModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Ceremonie wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Ceremonies:</b></p>
                    <form>
                        <div class="d-block">
                            <select style="width: 250px;" class="form-control d-inline-block">
                                <option>Huwelijk</option>
                                <option>Partnerschap</option>
                                <option>Omzetten</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="plechtigheidModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Plechtigheid wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Plechtigheden:</b></p>
                    <form>
                        <div class="d-block">
                            <select style="width: 250px;" class="form-control d-inline-block">
                                <option>Eenvoudig trouwen</option>
                                <option>Gratis trouwen</option>
                                <option>Trouwen / Partnerschap</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="locatieModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Locatie wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Locaties Utrecht <i class="fas fa-building"></i></b></p>
                    <form>
                        <div class="d-block">
                            <select style="width: 250px;" class="form-control d-inline-block">
                                <option>Utrecht, stadhuis grote zaal</option>
                                <option>Utrecht, stadhuis kleine zaal</option>
                                <option>Utrecht, stadskantoor</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="datumModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Datum wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Mogelijke datums:</b></p>
                    <form>
                        <div class="d-block">
                            <select style="width: 250px;" class="form-control d-inline-block">
                                <option>17-2-2020</option>
                                <option>18-2-2020</option>
                                <option>19-2-2020</option>
                                <option>20-2-2020</option>
                                <option>21-2-2020</option>
                                <option>22-2-2020</option>
                                <option>23-2-2020</option>
                                <option>24-2-2020</option>
                                <option>25-2-2020</option>
                                <option>26-2-2020</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="getuigenModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Getuigen wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Getuigen weghalen <i style="color: #F25961" class="fas fa-trash"></i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere personen tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option style="">John Doe</option>
                            <option>Jane Doe</option>
                        </select>

                        <button type="button" class="btn btn-danger m-3  mx-auto">
                            Verwijderen
                        </button>

                    </form>


                    <form>
                        <p style="margin-top: 40px;"><b>Getuigen uitnodigen <i style="color: limegreen"
                                                                               class="fas fa-user-edit"></i></b></p>
                        <label>Voor partner:</label>
                        <select class="form-control">
                            <option>Martin Timmers</option>
                            <option>Anita Henrika de Kieft</option>
                        </select>

                        <br>
                        <label>Voornaam(en):</label>
                        <input class="form-control" type="text" placeholder="John">

                        <br>
                        <label>Achternaam:</label>
                        <input class="form-control" type="text" placeholder="Doe">

                        <br>
                        <label>E-mail:</label>
                        <input class="form-control" type="email" placeholder="john@doe.com">

                        <br>
                        <label>Telefoonnummer:</label>
                        <input class="form-control" type="text" placeholder="06 12345678">

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen met instemming
                        </button>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen zonder instemming
                        </button>
                    </form>

                    <form>
                        <p style="margin-top:40px;"><b>Uitgenodige getuigen accepteren <i style="color:limegreen"
                                                                                          class="fas fa-check"></i></b>
                        </p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere personen tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Mickey Mouse</option>
                            <option>Minnie Mouse</option>
                        </select>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Accepteren
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="tijdstipModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Tijdstip wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Vanaf</b></p>
                    <form>
                        <select style="width: 75px;" class="form-control d-inline-block">
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                        </select>
                        -
                        <select style="width: 75px;" class="form-control d-inline-block">
                            <option>00</option>
                            <option>05</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                            <option>30</option>
                            <option>35</option>
                            <option>40</option>
                            <option>45</option>
                            <option>50</option>
                            <option>55</option>
                        </select>
                        <br><br>
                        <div class="d-block">
                            <p><b>Tot</b></p>
                            <select style="width: 75px;" class="form-control d-inline-block">
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                            </select>
                            -
                            <select style="width: 75px;" class="form-control d-inline-block">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="babsModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Babs wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Babsen van Utrecht:</b></p>
                    <form>
                        <select class="form-control">
                            <option>Dhr. Erik Hendrik</option>
                            <option>Mvr. Ike van den Pol</option>
                            <option>Dhr. Rene Gulje</option>
                        </select>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>
                    <form>
                        <p><b>Babs voor een dag:</b></p>
                        <label>BSN</label>
                        <input type="text" class="form-control" placeholder="169960274">
                        <br>
                        <label>E-mail</label>
                        <input type="text" class="form-control" placeholder="john@doe.com">
                        <br>
                        <label>Telefoonnummer</label>
                        <input type="text" class="form-control" placeholder="06 1234678">

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="tolkModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Tolk uitnodigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">
                    <form>
                        <p><b>Nodig een tolk uit:</b></p>
                        <label>BSN</label>
                        <input type="text" class="form-control" placeholder="169960274">
                        <br>
                        <label>E-mail</label>
                        <input type="text" class="form-control" placeholder="john@doe.com">
                        <br>
                        <label>Telefoonnummer</label>
                        <input type="text" class="form-control" placeholder="06 1234678">

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="extraModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Extra's wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Extra's verwijderen <i style="color: #F25961" class="fas fa-trash"></i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere personen tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Trouwboek</option>
                        </select>

                        <button type="button" class="btn btn-danger  m-3  mx-auto">
                            Verwijderen
                        </button>
                    </form>
                    <form>
                        <p style="margin-top: 80px;"><b>Extra's toevoegen <i style="color: limegreen"
                                                                             class="fas fa-plus"></i></b></p>
                        <select multiple="" class="form-control">
                            <option>Ringen</option>
                        </select>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Opslaan
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="contactModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Nieuwe opmerking</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <form>
                        <p><b>Opmerking:</b></p>
                        <input style="width: 80%;margin: auto;" type="text" class="form-control">

                        <button type="button" class="btn btn-success m-3 mx-auto">
                            Opslaan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="deleteHuwelijkModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Huwelijk annuleren</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Reden voor annulering:</b></p>

                    <textarea class="form-control" rows="4"></textarea>

                    <button type="button" class="btn btn-danger m-3 mx-auto">
                        Annuleren
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="deleteHuwelijkModal2" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Huwelijk afkeuren</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Reden voor afkeuring:</b></p>

                    <textarea class="form-control" rows="4"></textarea>

                    <button type="button" class="btn btn-danger m-3 mx-auto">
                        Afkeuren
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner1PhoneModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner1 nummer wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Telefoonnummer:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control"
                           placeholder="06 12345678">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner2PhoneModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner2 nummer wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Telefoonnummer:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control"
                           placeholder="06 12345678">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner1EmailModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner1 email wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Email:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control"
                           placeholder="martin@timmers.com">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner2EmailModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner2 email wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Email:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control"
                           placeholder="anita@henrika.com">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner1NaamModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner1 naamgebruik wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Naamgebruik:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control" placeholder="Timmers">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" style="text-align: center" id="partner2NaamModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner2 naamgebruik wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <p><b>Naamgebruik:</b></p>

                    <input style="width: 250px; margin: auto" type="text" class="form-control"
                           placeholder="Henrika Timmers">

                    <button type="button" class="btn btn-success m-3 mx-auto d-block">
                        Opslaan
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner1Modal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner1 wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Partner verwijderen <i style="color: red"
                                                     class="fas fa-trash"></i></b></p>
                        <button class="btn btn-danger m-3 mx-auto">Verwijderen</button>
                    </form>

                    <form>
                        <p style="margin-top: 40px;"><b>Partner uitnodigen <i style="color: limegreen"
                                                                              class="fas fa-user-edit"></i></b></p>
                        <label>BSN:</label>
                        <input class="form-control" type="text" placeholder="">

                        <br>
                        <label>Voornaam(en):*</label>
                        <input class="form-control" type="text" placeholder="John">

                        <br>
                        <label>Achternaam:*</label>
                        <input class="form-control" type="text" placeholder="Doe">

                        <br>
                        <label>E-mail:*</label>
                        <input class="form-control" type="email" placeholder="john@doe.com">

                        <br>
                        <label>Telefoonnummer:</label>
                        <input class="form-control" type="text" placeholder="06 12345678">

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen met instemming
                        </button>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen zonder instemming
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="partner2Modal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Partner2 wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Partner verwijderen <i style="color: red"
                                                     class="fas fa-trash"></i></b></p>
                        <button class="btn btn-danger m-3 mx-auto">Verwijderen</button>
                    </form>

                    <form>
                        <p style="margin-top: 40px;"><b>Partner uitnodigen <i style="color: limegreen"
                                                                              class="fas fa-user-edit"></i></b></p>
                        <label>BSN:</label>
                        <input class="form-control" type="text" placeholder="">

                        <br>
                        <label>Voornaam(en):*</label>
                        <input class="form-control" type="text" placeholder="John">

                        <br>
                        <label>Achternaam:*</label>
                        <input class="form-control" type="text" placeholder="Doe">

                        <br>
                        <label>E-mail:*</label>
                        <input class="form-control" type="email" placeholder="john@doe.com">

                        <br>
                        <label>Telefoonnummer:</label>
                        <input class="form-control" type="text" placeholder="06 12345678">

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen met instemming
                        </button>

                        <button type="button" class="btn btn-success m-3  mx-auto">
                            Uitnodigen zonder instemming
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
