<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'menus'|trans|capitalize }}</h3>
    </div>
    {% if menus is defined %}
    <div class="card-list">
        {% for menu in menus %}
            <div class="item-list">
                <div class="info-user ml-3">
                    <div class="username"><h4>{{ menu.name|capitalize }}</h4></div>
                    <div class="status">{{ menu.description }}</div>
                </div>
                <a class="btn btn-icon btn-primary btn-round btn-s"
                   style="margin-right: 5px"
                   href="{{ path('app_grc_menu', {id: menu.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
                <button class="btn btn-icon btn-danger btn-round btn-s"
                        style="margin-right: 15px" data-toggle="modal"
                        data-target="#deleteSlug{{ slug.id }}">
                    <i class="fa fa-trash"></i>
                </button>
            </div><!-- /.item-list -->
        {% endfor %}
    </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->

    <div class="card-action">
        <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addMenu"
           data-toggle="modal" data-target="#addMenu">{{ 'add menu'|trans|capitalize }}</a>
    </div><!-- /.card-action -->
</div><!-- /.card -->

{# the menu modals #}
{% include 'grc/modals/menu.html.twig'
    with {
    'route': 'app_grc_grave',
    'resource':resource,
    'id':'addMenu' } %}

{% if menus is defined %}
    {% for menu in menus %}
        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_grc_grave',
            'resource':resource,
            'item':menu,
            'id':'deleteMenu' } %}
    {% endfor %}
{% endif %}
