{% extends "body.html.twig" %}

{% block content %}

    {% set view = 'app_rc_aspect' %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {'h1': 'Aspect bewerken','functie': 'Dashboard -> RC -> Aspects -> '~resource.name } %}

            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path(view, {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <button class="btn btn-danger"
                                                style="margin-right: 25px">{{ 'delete'|trans|capitalize }}</button>
                                        <button class="btn btn-success">{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name" placeholder="Large Input"
                                                       value="{{ resource.name }}">
                                            </div>
                                        </div> <!-- /.col -->

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label
                                                    for="largeInput">{{ 'all'|trans|capitalize }} {{ 'groups'|trans }}</label>
                                                <ul>
                                                    {% if resource.groups is defined and resource.groups is not empty %}
                                                        {% for group in resource.groups %}
                                                            <li>{{ group.name }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-6 row offset-md-6">

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label
                                                        for="largeInput">{{ 'add'|trans|capitalize }} {{ 'group'|trans }}</label>
                                                    <select class="form-control form-control-lg" id="addgroup"
                                                            name="addgroup">
                                                        <option value="">-</option>
                                                        {% if groups is defined and groups is not empty %}
                                                            {% for group in groups %}
                                                                <option
                                                                    value="groups/{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div> <!-- /.col -->

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'delete'|trans|capitalize }} </label>
                                                    <select class="form-control form-control-lg" id="removegroup"
                                                            name="removegroup">
                                                        <option value="">-</option>
                                                        {% if resource.groups is defined and resource.groups is not empty %}
                                                            {% for group in resource.groups %}
                                                                <option
                                                                    value="groups/{{ group.id }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div> <!-- /.col -->

                                        </div><!-- /.col /.row -->

                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control" rows="5" id="description"
                                                          name=description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2>Groups</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                    {#                                    {% if resource.groups is defined %}#}
                                    {#                                    {% for group in resource.groups %}#}
                                    {#                                        <tr>#}
                                    {#                                            <td>{{ group.name }}</td>#}
                                    {#                                            <td></td>#}
                                    {#                                        </tr>#}
                                    {#                                    {% endfor %}#}
                                    {#                                    {% endif %}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.page-inner -->

        {% include 'footer.html.twig' %}

    </div>
    </div>

{% endblock %}
