{% extends "body.html.twig" %}



{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'person',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'persons' : {
                        'name' : 'people',
                        'path' : 'app_cc_people'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <form action="{{ path('app_cc_person', {id: resource.id}) }}" method="post">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_cc_people')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <button class="btn btn-info mr-4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'options'|trans|capitalize }}</button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#changeLog" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a href="#delete" class="dropdown-item text-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        </div>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'first name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="givenName" name="givenName"
                                                       value="{% if resource.givenName is defined %}{{ resource.givenName }} {% endif %}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'additional name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="additionalName" name="additionalName"
                                                       value="{% if resource.additionalName is defined %}{{ resource.additionalName }} {% endif %}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'family name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="familyName" name="familyName"
                                                       value="{% if resource.familyName is defined %}{{ resource.familyName }} {% endif %}">
                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->

                        </div><!-- /.card -->
                    </div>

                    <div class="col-md-12 col-xl-6">
                        <div class="card p-4">
                            <div class="card-header">
                                <h2 class="d-inline-block">{{ 'addresses'|trans|capitalize }}</h2>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addAddress"  data-toggle="modal" data-target="#addAddress"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="addressBody">
                                    {% if resource.adresses is defined %}
                                        {% set value = 0 %}
                                        {% for address in resource.adresses %}
                                            <tr id="{{ value }}">
                                                <td colspan="2" id="{{ value }}">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg float-right" id="{{ value }}" name ="adresses[]" value="{{ address }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <button class="btn btn-danger" id="{{ value }}" type="button" onclick="storedDelete(this)"><i class='fas fa-minus'></i></button>
                                                </td>
                                            </tr>
                                            {% set value = value + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="card p-4">
                            <div class="card-header">
                                <h2 class="d-inline-block">{{ 'telephones'|trans|capitalize }}</h2>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addTelephone"  data-toggle="modal" data-target="#addTelephone"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="telephoneBody">
                                    {% if resource.telephones is defined %}
                                        {% set value = 0 %}
                                        {% for telephone in resource.telephones %}
                                            <tr id="{{ value }}">
                                                <td colspan="2" id="{{ value }}">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg float-right" id="{{ value }}" name ="telephones[]" value="{{ telephone }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <button class="btn btn-danger" id="{{ value }}" type="button" onclick="storedDelete(this)"><i class='fas fa-minus'></i></button>
                                                </td>
                                            </tr>
                                            {% set value = value + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="card p-4">
                            <div class="card-header">
                                <h2 class="d-inline-block">{{ 'emails'|trans|capitalize }}</h2>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addEmail"  data-toggle="modal" data-target="#addEmail"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="emailBody">
                                    {% if resource.emails is defined %}
                                        {% set value = 0 %}
                                        {% for email in resource.emails %}
                                            <tr id="{{ value }}">
                                                <td colspan="2" id="{{ value }}">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg float-right" id="{{ value }}" name ="emails[]" value="{{ email }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <button class="btn btn-danger" id="{{ value }}" type="button" onclick="storedDelete(this)"><i class='fas fa-minus'></i></button>
                                                </td>
                                            </tr>
                                            {% set value = value + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.page-inner -->

        <div class="modal fade" style="text-align: center" id="addTelephone" tabindex="-1"
             role="dialog"
             aria-labelledby="addTelephone" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addScheduleTitle"><b>{{ 'add telephone'|trans|capitalize }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                        <select name="name" id="telephoneName" class="form-control form-control-lg" required>
                            {
                            {% for telephone in telephones %}
                                <option value="{{ telephone['@id']}} ">{{ telephone.name }}</option>
                            {% endfor %}
                        </select>

                    </div><!-- /.form-group -->
                    <button class="btn btn-success m-3  mx-auto" data-dismiss="modal" onclick="telephoneButton();">{{ 'add'|trans|capitalize }}</button>
                </div>
            </div>
        </div>

        <div class="modal fade" style="text-align: center" id="addAddress" tabindex="-1"
             role="dialog"
             aria-labelledby="addAddress" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addScheduleTitle"><b>{{ 'add address'|trans|capitalize }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                        <select name="name" id="addressName" class="form-control form-control-lg" required>
                            {
                            {% for address in addresses %}
                                <option value="{{ address['@id']}} ">{{ address.name }}</option>
                            {% endfor %}
                        </select>

                    </div><!-- /.form-group -->
                    <button class="btn btn-success m-3  mx-auto" data-dismiss="modal" onclick="addressButton();">{{ 'add'|trans|capitalize }}</button>
                </div>
            </div>
        </div>

        <div class="modal fade" style="text-align: center" id="addEmail" tabindex="-1"
             role="dialog"
             aria-labelledby="addEmail" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addScheduleTitle"><b>{{ 'add email'|trans|capitalize }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                        <select name="name" id="emailName" class="form-control form-control-lg" required>
                            {
                            {% for email in emails %}
                                <option value="{{ email['@id']}} ">{{ email.name }}</option>
                            {% endfor %}
                        </select>

                    </div><!-- /.form-group -->
                    <button class="btn btn-success m-3  mx-auto" data-dismiss="modal" onclick="emailButton();">{{ 'add'|trans|capitalize }}</button>
                </div>
            </div>
        </div>

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_cc_person',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_cc_person',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_cc_person',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>

    <script>
    {% block javascript %}

    //logic for addresses
    function addressButton(){
        let counts = document.getElementById("addressBody").lastChild.id;
        let parent = document.getElementById("addressBody")
        let name = document.getElementById("addressName");
        let newAddress = document.createElement("input");
        let tr = document.createElement("tr")
        let td = document.createElement("td")
        let tdButton = document.createElement("td")
        let delButton = document.createElement("button")
        let counter;

        if(counts !== undefined){
            counter = parseInt(counts) + 1;
        } else {
            counter = parent.children.length;
        }

        newAddress.value = name.value;
        newAddress.name = "adresses[]";
        newAddress.className = "form-control form-control-lg"
        newAddress.readOnly = true;
        newAddress.id = counter.toString();
        newAddress.setAttribute("style", "height: fit-content !important;");

        tdButton.id = counter.toString();

        delButton.id = counter.toString();
        delButton.innerHTML = "<i class='fas fa-minus'></i>";
        delButton.addEventListener('click', function(){
            propDelete(newAddress, tr, td);
        });
        delButton.className = "btn btn-danger float-right";
        delButton.type = "button";

        tr.id = counter.toString();
        tr.className = "address"

        td.id = counter.toString();
        td.setAttribute("colspan", "2");
        td.className = "address"

        parent.appendChild(tr);
        tr.appendChild(td);
        td.appendChild(newAddress);
        tr.appendChild(tdButton);
        tdButton.appendChild(delButton);

        name.value = "";
    }

    //logic for emails
    function emailButton(){
        let counts = document.getElementById("emailBody").lastChild.id;
        let parent = document.getElementById("emailBody")
        let name = document.getElementById("emailName");
        let newEmail = document.createElement("input");
        let tr = document.createElement("tr")
        let td = document.createElement("td")
        let tdButton = document.createElement("td")
        let delButton = document.createElement("button")
        let counter;

        if(counts !== undefined){
            counter = parseInt(counts) + 1;
        } else {
            counter = parent.children.length;
        }

        newEmail.value = name.value;
        newEmail.name = "emails[]";
        newEmail.className = "form-control form-control-lg"
        newEmail.readOnly = true;
        newEmail.id = counter.toString();
        newEmail.setAttribute("style", "height: fit-content !important;");

        tdButton.id = counter.toString();

        delButton.id = counter.toString();
        delButton.innerHTML = "<i class='fas fa-minus'></i>";
        delButton.addEventListener('click', function(){
            propDelete(newEmail, tr, td);
        });
        delButton.className = "btn btn-danger float-right";
        delButton.type = "button";

        tr.id = counter.toString();

        td.id = counter.toString();
        td.setAttribute("colspan", "2");

        parent.appendChild(tr);
        tr.appendChild(td);
        td.appendChild(newEmail);
        tr.appendChild(tdButton);
        tdButton.appendChild(delButton);

        name.value = "";
    }


    //logic for telephones
    function telephoneButton(){
        let counts = document.getElementById("telephoneBody").lastChild.id;
        let parent = document.getElementById("telephoneBody")
        let name = document.getElementById("telephoneName");
        let newTelephone = document.createElement("input");
        let tr = document.createElement("tr")
        let td = document.createElement("td")
        let tdButton = document.createElement("td")
        let delButton = document.createElement("button")
        let counter;

        if(counts !== undefined){
            counter = parseInt(counts) + 1;
        } else {
            counter = parent.children.length;
        }

        newTelephone.value = name.value;
        newTelephone.name = "telephones[]";
        newTelephone.className = "form-control form-control-lg"
        newTelephone.readOnly = true;
        newTelephone.id = counter.toString();
        newTelephone.setAttribute("style", "height: fit-content !important;");

        tdButton.id = counter.toString();

        delButton.id = counter.toString();
        delButton.innerHTML = "<i class='fas fa-minus'></i>";
        delButton.addEventListener('click', function(){
            propDelete(newTelephone, tr, td);
        });
        delButton.className = "btn btn-danger float-right";
        delButton.type = "button";

        tr.id = counter.toString();

        td.id = counter.toString();
        td.setAttribute("colspan", "2");

        parent.appendChild(tr);
        tr.appendChild(td);
        td.appendChild(newTelephone);
        tr.appendChild(tdButton);
        tdButton.appendChild(delButton);

        name.value = "";
    }

    function propDelete(body, tr, td){
        body.remove();
        tr.remove();
        td.remove();
    }

    function storedDelete(given){
        let td = given.parentNode;
        let tr = td.parentNode;
        given.remove();
        td.remove();
        tr.remove();
    }

    //audit_trails
    $.ajax({
        url: "/api/cc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/cc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
