{% extends "body.html.twig" %}



{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'telephone',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'telephones' : {
                        'name' : 'telephones',
                        'path' : 'app_cc_telephones'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_cc_telephone', {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">

                                        <a class="btn btn-primary mr-4" href="{{ path('app_cc_telephones')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <a href="#changeLog" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                        <a href="#auditTrial" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                        <a href="#delete" class="btn btn-danger" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name" placeholder=""
                                                       value="{% if resource.name is defined %}{{ resource.name }} {% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'telephone'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="telephone"
                                                       name="telephone" placeholder=""
                                                       value="{% if resource.telephone is defined %}{{ resource.telephone }} {% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'installations'|trans|capitalize }}</h3>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addInstallation"  data-toggle="modal" data-target="#addInstallation">{{ 'add installation'|trans|capitalize }}</a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if domains is defined %}
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                            <th scope="col">{{ 'deployment name'|trans|capitalize }}</th>
                                            <th scope="col">{{ 'environment'|trans|capitalize }}</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for installation in installations %}
                                            <tr>
                                                <td>{{ installation.name }}</td>
                                                <td>{{ installation.deploymentName }}</td>
                                                <td>{% if installation.environment is defined %}{{ installation.environment.name }}{% endif %}</td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="#editInstallation{{ installation.id }}"  data-toggle="modal" data-target="#editInstallation{{ installation.id }}">{{ 'edit'|trans|capitalize }}</a></td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="{{ path('app_evc_installation', {'id': installation.id, 'action':'install'}) }}">{{ 'install'|trans|capitalize }}</a></td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="{{ path('app_evc_installation', {'id': installation.id, 'action':'upgrade'}) }}">{{ 'upgrade'|trans|capitalize }}</a></td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="{{ path('app_evc_installation', {'id': installation.id, 'action':'rollingupdate'}) }}">{{ 'rolling update'|trans|capitalize }}</a></td>
                                                <td><a class="btn btn-info btn-danger" style="margin-right: 25px" href="{{ path('app_evc_installation', {'id': installation.id, 'action':'uninstall'}) }}">{{ 'uninstall'|trans|capitalize }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div> <!-- /.card-body -->
                            <div class="card-action">
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
        </div><!-- /.page-inner -->



            <div class="modal fade" style="text-align: center" id="addInstallation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addInstallationTitle"><b>{{ 'add installation'|trans|capitalize }}</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div><div class="container"></div>
                        <div class="modal-body">
                            <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                                <div class="form-group">
                                    <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="installation[name]" name="installation[name]" value="" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'deployment name'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="installation[deploymentName]" name="installation[deploymentName]" value="" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="installation[description]" name="installation[description]" value="">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'domain'|trans|capitalize }}</label>
                                    <select id="installation[domain]" name="installation[domain]" class="form-control form-control-lg">
                                        <option value="">{{ 'none'|trans|capitalize }}</option>
                                        {% if domains is defined %}
                                            {% for domain in domains %}
                                                <option value="{{ domain['@id'] }}">{{ domain.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'environment'|trans|capitalize }}</label>
                                    <select id="installation[environment]" name="installation[environment]" class="form-control form-control-lg">
                                        <option value="">{{ 'none'|trans|capitalize }}</option>
                                        {% if environments is defined %}
                                            {% for environment in environments %}
                                                <option value="{{ environment['@id'] }}">{{ environment.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'component'|trans|capitalize }}</label>
                                    <select id="installation[component]" name="installation[component]" class="form-control form-control-lg">
                                        <option value="">{{ 'none'|trans|capitalize }}</option>
                                        {% if components is defined %}
                                            {% for component in components %}
                                                <option value="{{ component['@id'] }}">{{ component.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'helm version'|trans|capitalize }}</label>
                                    <select id="installation[helmVersion]" name="installation[helmVersion]" class="form-control form-control-lg">
                                        <option value="">{{ 'none'|trans|capitalize }}</option>
                                        <option value="2.12.3">2.12.3</option>
                                        <option value="2.14.3">2.14.3</option>
                                        <option value="2.16.6">2.16.6</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <input type="hidden" id="installation[propertyArray]" value="" name="installation[propertyArray]">
                                <div class="row">
                                    <div class="col-6">
                                        <a data-toggle="modal" href="#propertyModal" class="btn btn-success m-3  mx-auto">properties</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success m-3  mx-auto">
                                            {{ 'add'|trans|capitalize }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="propertyModal" data-backdrop="static" style="background-color: rgba(0,0,0,.8);">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'properties'|trans|capitalize }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div><div class="container"></div>
                        <div class="modal-body">
                            <div>
                                <div class="form-group">
                                    <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="configName" name="name" value="">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'value'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="configValue" name="value" value="">
                                </div><!-- /.form-group -->
                                <button class="btn btn-success m-3  mx-auto"  type="button" onclick="configButton();">{{ 'add'|trans|capitalize }}</button>
                            </div>
                            <hr>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                            <th scope="col">{{ 'value'|trans|capitalize }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="configBody">
                                    {% if resource.configurations is defined %}
                                        {% set value = 0 %}
                                        {% for configuration in resource.configurations %}
                                            <tr id="{{ value }}">
                                                <td id="{{ value }}">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg " id="{{ value }}" name ="" value="{{ configuration.name }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg " id="{{ value }}" name ="" value="{{ configuration.value }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <button class="btn btn-danger" id="{{ value }}" type="button" onclick="storedDelete(this)"><i class='fas fa-minus'></i></button>
                                                </td>
                                            </tr>
                                            {% set value = value + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button href="#" data-dismiss="modal" onclick="createArray()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_cc_telephone',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_cc_telephone',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_cc_telephone',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    </div>
    <script>

    {% block javascript %}

    //logic for configurations

    function configButton(){
        let counts = document.getElementById("configBody").lastChild.id;
        let parent = document.getElementById("configBody");
        let propName = document.getElementById("configName");
        let propValue = document.getElementById("configValue");
        let newName = document.createElement("input");
        let newValue = document.createElement("input");
        let tr = document.createElement("tr");
        let td = document.createElement("td");
        let td2 = document.createElement("td");
        let tdButton = document.createElement("td");
        let delButton = document.createElement("button");
        let counter;


        if(counts !== undefined){
            counter = parseInt(counts) + 1;
        } else {
            counter = parent.children.length;
        }

        newValue.value = propValue.value;
        newValue.className = "form-control form-control-lg propertyValue";
        newValue.readOnly = true;
        newValue.id = counter.toString();
        newValue.setAttribute("style", "height: fit-content !important;");


        newName.value = propName.value;
        newName.className = "form-control form-control-lg propertyName";
        newName.readOnly = true;
        newName.id = counter.toString();
        newName.setAttribute("style", "height: fit-content !important;");
        tdButton.id = counter.toString();

        delButton.id = counter.toString();
        delButton.innerHTML = "<i class='fas fa-minus'></i>";
        delButton.addEventListener('click', function(){
            propDelete(newName, tr, td);
        });
        delButton.className = "btn btn-danger float-right";
        delButton.type = "button";

        tr.id = counter.toString();
        td.id = counter.toString();
        td2.id = counter.toString();

        parent.appendChild(tr);
        tr.appendChild(td);
        td.appendChild(newName);
        tr.append(td2);
        td2.appendChild(newValue);
        tr.appendChild(tdButton);
        tdButton.appendChild(delButton);

        let nameValue = propName.value;
        let valueValue = propValue.value;



        propName.value = "";
        propValue.value = "";

    }

    function propDelete(body, tr, td){
        body.remove();
        tr.remove();
        td.remove();
    }

    function storedDelete(given){
        let td = given.parentNode;
        let tr = td.parentNode;
        given.remove();
        td.remove();
        tr.remove();
    }

    function createArray(){
        let propValues = document.getElementsByClassName("propertyValue");
        let propNames = document.getElementsByClassName("propertyName");
        let propArray = [];
        let arrayContainer = document.getElementById("installation[propertyArray]");

        for(let i = 0; i < propValues.length; i ++){
            propArray.push({name: propNames[i].value, value: propValues[i].value  });
        }
        arrayContainer.value = JSON.stringify(propArray);
        console.log(arrayContainer.value);
    }

    //audit_trails
    $.ajax({
        url: "/api/cc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/cc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
