<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'events'|trans|capitalize }}</h3>
    </div>

    {% if events is defined %}
        <div class="card-list">

                <div class="item-list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                            <th scope="col">{{ 'status'|trans|capitalize }}</th>
                            <th scope="col">{{ 'description'|trans|capitalize }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td><a href="{{ path('app_arc_events', {id: event.id}) }}">{{ (event.name)}}</a></td>
                                <td>{{ event.status }}</td>
                                <td>{{ event.description }}</td>

                            </tr><!-- /.card-list -->
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.item-list -->

        </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->


</div><!-- /.card -->
