<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'events'|trans|capitalize }}</h3>
    </div>

    {% if events is defined %}
        <div class="card-list">

                <div class="item-list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'start'|trans|capitalize }}</th>
                            <th scope="col">{{ 'end'|trans|capitalize }}</th>
                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                            <th scope="col">{{ 'status'|trans|capitalize }}</th>
                            <th scope="col">{{ 'description'|trans|capitalize }}</th>
                            <th scope="col">{{ 'request'|trans|capitalize }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.startDate}}</td>
                                <td>{{ event.endDate}}</td>
                                <td>{{ event.name}}</td>
                                <td>{{ event.status }}</td>
                                <td>{{ event.description }}</td>
                                <td>{% if event.resource is defined %}
                                        <a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path('app_vrc_request', {id: commonground_resource(event.resource).id}) }}">
                                        {{ commonground_resource(event.resource).reference }}</a>
                                    {% endif %}
                                </td>

                            </tr><!-- /.card-list -->
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.item-list -->

        </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->


</div><!-- /.card -->
