{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                        	<form action="{{ path('app_vrc_request', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.reference }} </h2>
                                    <div class="float-right">
                                        {% if changeLog is defined %}<a class="btn btn-info" href="#changeLogModal" data-toggle="modal" data-target="#changeLogModal">{{ 'changeLog'|trans|capitalize }}</a>{% endif %}
                                        {% if auditTrail is defined %}<a class="btn btn-info" href="#auditTrailModal" data-toggle="modal" data-target="#auditTrailModal">{{ 'auditTrail'|trans|capitalize }}</a>{% endif %}
                                        <a href="{{ path('app_vrc_request', {'id': resource.id, 'action':'delete'}) }}" class="btn btn-danger">{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success">{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
								<div class="card-body">
									<div class="row">
        								<div class="col-md-9 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'reference'|trans|capitalize }}</label>
        										<input type="text" class="form-control form-control-lg" id="reference" name ="reference" value="{% if resource.reference is defined %}{{ resource.reference }}{% endif %}" disabled="">
        									</div>
    									</div> <!-- /.col -->
    									<div class="col-md-3 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
        										<select id="sourceOrganization" name="sourceOrganization" class="form-control form-control-lg">
        										 {% for organization in organizations %}
                                               		<option value="{{ organization['@id'] }}" {% if c is defined and organization['@id'] == resource.sourceOrganization  %}selected=""{% endif %}>{{ organization.name }}</option>
                                                {% endfor %}
                                                </select>
        									</div><!-- /.form-group -->
        								</div> <!-- /.col -->
    								</div><!-- /.row -->

								</div> <!-- /.card-body -->

								<div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
								</div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'properties'|trans|capitalize }}</h3>
                            </div>
                            <div class="card-body">
                                {% if resource.properties is defined %}
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ 'property'|trans|capitalize }}</th>
                                            <th scope="col">{{ 'value'|trans|capitalize }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for key,value in resource.properties %}
                                            <tr>
                                                <td>{{ key }}</td>
                                                <td>{{ dump(value) }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div> <!-- /.card-body -->

                            <div class="card-action">
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'cases'|trans|capitalize }}</h3>
                            </div>
                            <div class="card-body">
                                {% if resource.cases is defined %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'case'|trans|capitalize }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for case in resource.cases %}
                                        <tr>
                                            <td><a href="{{ path('app_zgw_case', {'id': openzaak_resource(case).id}) }}">{{ openzaak_resource(case).omschrijving }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div> <!-- /.card-body -->

                            <div class="card-action">
                                {% if resource.organization is defined and resource.requestType is defined %}<a class="btn btn-info btn-block" style="margin-right: 25px" href="#addCase"  data-toggle="modal" data-target="#addCase">{{ 'add case'|trans|capitalize }}</a>{% endif %}
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->
            {% include 'footer.html.twig' %}
        </div>
    </div>

    {% if resource.organization is defined and resource.requestType is defined %}
    <div class="modal fade" style="text-align: center" id="addCase" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>{{ 'add case'|trans|capitalize }}</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form action="{{ path('app_vrc_request', {id: resource.id}) }}" method="post">
        				<div class="form-group">
        					<label for="largeInput">{{ 'casetype'|trans|capitalize }}</label>
        					<select id="zaak[zaaktype]" name="zaak[zaaktype]" class="form-control form-control-lg">
        					{% for casetype in casetypes %}
                                {% if casetype.eindeGeldigheid is empty %}
                        		<option value="{{ casetype['@id'] }}">{{ casetype.omschrijving }}</option>
                                {% endif %}
                         	{% endfor %}
                   			</select>
        				</div><!-- /.form-group -->

        				<input type="hidden" id="zaak[bronorganisatie]" name ="zaak[bronorganisatie]" value="{{ commonground_resource(resource.organization).rsin }}">
        				<input type="hidden" id="zaak[verantwoordelijkeOrganisatie]" name ="zaak[verantwoordelijkeOrganisatie]" value="{{ commonground_resource(resource.organization).rsin  }}">
        				<input type="hidden" id="zaak[omschrijving]" name ="zaak[omschrijving]" value="{{ commonground_resource(resource.requestType).name }}">

                        <button type="submit" class="btn btn-success m-3  mx-auto">
                            {{ 'add'|trans|capitalize }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if changeLog is defined %}
        <div class="modal fade" style="text-align: center" id="changeLogModal" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content" style="width: 750px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>{{ 'changeLog'|trans|capitalize }}</b></h5>
                    </div><!-- /.header -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'version'|trans|capitalize }}</th>
                            <th scope="col">{{ 'action'|trans|capitalize }}</th>
                            <th scope="col">{{ 'username'|trans|capitalize }}</th>
                            <th scope="col">{{ 'data'|trans|capitalize }}</th>
                            <th scope="col">{{ 'created'|trans|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in changeLog %}
                            <tr>
                                <td>{{ record.version }}</td>
                                <td>{{ record.action }}</td>
                                <td>{{ record.username }}</td>
                                <td><ul>{# for key, value in record.data %}<li><b>{{ key }}</b>: {{ value }}</li>{% endfor #}</ul></td>
                                <td>{{ record.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}

    {% if auditTrail is defined %}
        <div class="modal fade" style="text-align: center" id="auditTrailModal" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content" style="width: 850px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>{{ 'auditTrail'|trans|capitalize }}</b></h5>
                    </div><!-- /.header -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'method'|trans|capitalize }}</th>
                            <th scope="col">{{ 'user'|trans|capitalize }}</th>
                            <th scope="col">{{ 'ip'|trans|capitalize }}</th>
                            <th scope="col">{{ 'session'|trans|capitalize }}</th>
                            <th scope="col">{{ 'created'|trans|capitalize }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in auditTrail %}
                            <tr>
                                <td>{{ record.method }}</td>
                                <td>{{ record.user }}</td>
                                <td>{{ record.ip }}</td>
                                <td>{{ record.session }}</td>
                                <td>{{ record.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}


{% endblock %}
