{% extends "body.html.twig" %}

{% set view = 'app_vrc_request' %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'requests',
                'name' : 'requests'|trans|capitalize,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    }
                }]
            }
            %}
            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover table-fixed">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'type'|trans|capitalize }}</th>
                            <th scope="col">{{ 'reference'|trans|capitalize }}</th>
                            <th scope="col">{{ 'created'|trans|capitalize }}</th>
                            <th scope="col">{{ 'modified'|trans|capitalize }}</th>
                            <th scope="col">{{ 'status'|trans|capitalize }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resource in resources %}
                        <tr>
                            <td>{{ commonground_resource(resource.requestType).name }}</td>
                            <td>{{ resource.reference }}</td>
                            <td>{{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            <td>{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            <td >
                                {% if resource.status is same as('incomplete') %}
                                    <div class="progress" style="height: 25px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%; color: black; background-color: red;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ 'incomplete'|trans|capitalize }}</div>
                                    </div>
                                {% endif %}
                                {% if resource.status is same as('complete') %}
                                    <div class="progress" style="height: 25px;">
                                        <div class="progress-bar" role="progressbar" style="width: 50%; color: black; background-color:orangered;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ 'complete'|trans|capitalize }}</div>
                                    </div>
                                {% endif %}
                                {% if resource.status is same as('submitted') %}
                                    <div class="progress" style="height: 25px;">
                                        <div class="progress-bar" role="progressbar" style="width: 75%; color: black; background-color: orange" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ 'submitted'|trans|capitalize }}</div>
                                    </div>
                                {% endif %}
                                {% if resource.status is same as('processed') %}
                                    <div class="progress" style="height: 25px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; color: black; background-color: green" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ 'processed'|trans|capitalize }}</div>
                                    </div>
                                {% endif %}
                            </td>
                            <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path(view, {id: resource.id}) }}"><i class="far fa-edit mr-2"></i><b>{{ 'edit'|trans|capitalize }}</b></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
