{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">
                {% include 'widgets/babs/title_h1.html.twig' with {
                    'headerTitle': 'save or create a request',
                    'name' : resource.reference,
                    'breadcrumbs': [{
                        'home' : {
                            'name' : 'home',
                            'path' : 'app_default_index'
                        },
                        'requests' : {
                            'name' : 'requests',
                            'path' : 'app_vrc_requests'
                        }
                    }]
                }
                %}
            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card full-height">
                        	<form action="{{ path('app_vrc_request', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{% if resource.reference is defined %}{{ 'reference'|trans|capitalize }} {{ resource.reference }} {% else %} {{ 'new request'|trans|capitalize }} {% endif%} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary" href="{{ path('app_vrc_requests')}}">
                                            <i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <a href="#changeLog" class="btn btn-info"
                                           data-toggle="modal"
                                           data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                        <a href="#auditTrial" class="btn btn-info"
                                           data-toggle="modal"
                                           data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                        <a href="#delete" class="btn btn-danger"
                                           data-toggle="modal"
                                           data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
								<div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            {% if resource.parent is defined and resource.parent is not empty %} <b>{{ 'belongs to'|trans|capitalize }}</b> <a href="{{ path('app_vrc_request', {'id': resource.parent.id}) }}">{{ resource.parent.reference }}</a> ({{ commonground_resource(resource.parent.requestType).name }}) {% endif %}
                                        </div>
                                        <div class="col-md-6 col-sm-12">

                                        </div>
                                    </div> <!-- /.col -->
									<div class="row">
        								<div class="col-md-3 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'case'|trans|capitalize }}</label>
                                                {% if resource.cases is defined and resource.cases|length >0  %}
        										    <input type="text" class="form-control form-control-lg"  value="{% if resource.cases is defined %}{{ resource.cases[0] }}{% endif %}" disabled="">
                                                {% else %}
                                                    {% if resource.organization is defined and resource.requestType is defined %}<a class="btn btn-info btn-block" style="margin-right: 25px" href="#addCase"  data-toggle="modal" data-target="#addCase">{{ 'add case'|trans|capitalize }}</a>{% endif %}
                                                {% endif %}
        									</div>
    									</div> <!-- /.col -->
    									<div class="col-md-3 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
                                                {% if resource.organization is defined and resource.organization is not empty %}
                                                    <a class="btn btn-info btn-block" href="{{ path('app_wrc_organization',{'id': commonground_resource(resource.organization).id}) }}" >{{ commonground_resource(resource.organization).name }}</a>
                                                {% else %}
        										<select id="organization" name="organization" class="form-control form-control-lg" >
        										 {% for organization in organizations %}
                                               		<option value="{{ organization['@id'] }}" {% if resource.organization is defined and organization['@id'] == resource.organization  %}selected=""{% endif %}>{{ organization.name }}</option>
                                                {% endfor %}
                                                </select>
                                                {% endif %}
        									</div><!-- /.form-group -->
        								</div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'type'|trans|capitalize }}</label>
                                                {% if resource.requestType is defined and resource.requestType is not empty %}
                                                    <a class="btn btn-info btn-block" href="{{ path('app_vtc_requesttype',{'id': requestType.id}) }}">{{ requestType.name }}</a>
                                                {% else %}
                                                <select id="requestType" name="requestType" class="form-control form-control-lg" >
                                                    {% for value in requestTypes %}
                                                        <option value="{{ value['@id'] }}" {% if resource.requestType is defined and value['@id'] == resource.requestType  %}selected{% endif %}>{{ value.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% endif %}
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'status'|trans|capitalize }}</label>
                                                <select id="status" name="status" class="form-control form-control-lg">
                                                    <option value="incomplete" {% if resource.status is defined and 'incomplete' == resource.status  %}selected{% endif %}>{{ 'incomplete'|trans|capitalize }}</option>
                                                    <option value="complete" {% if resource.status is defined and 'complete' == resource.status  %}selected{% endif %}>{{ 'complete'|trans|capitalize }}</option>
                                                    <option value="submitted" {% if resource.status is defined and 'submitted' == resource.status  %}selected{% endif %}>{{ 'submitted'|trans|capitalize }}</option>
                                                    <option value="processed" {% if resource.status is defined and 'processed' == resource.status  %}selected{% endif %}>{{ 'processed'|trans|capitalize }}</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
    								</div><!-- /.row -->
                                    <div class="row"></div>
                                    {% if resource.status is defined %}
                                        <div class="col-md-12 col-sm-12 mt-3">
                                            <div class="form-group">
                                            <label for="largeInput">{{ 'progress'|trans|capitalize }}</label>
                                            {% if resource.status is same as('incomplete') %}
                                                <div class="progress" style="height: 25px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 25%; color: black; background-color: red;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% endif %}
                                            {% if resource.status is same as('complete') %}
                                                <div class="progress" style="height: 25px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%; color: black; background-color:orangered;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% endif %}
                                            {% if resource.status is same as('submitted') %}
                                                <div class="progress" style="height: 25px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 75%; color: black; background-color: limegreen" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% endif %}
                                            {% if resource.status is same as('processed') %}
                                                <div class="progress" style="height: 25px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%; color: black; background-color: green" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% endif %}
                                            </div>
                                        </div> <!-- /.col -->
                                    {% endif %}
								</div> <!-- /.card-body -->

								<div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
								</div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                {% if resource['@id'] is defined and  resource['@id'] is not empty  %}
                <div class="row">
                    <div class="col-md-8">
                        {% include 'vrc/widgets/properties.html.twig'
                            with {
                            'resource': resource } %}
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/children.html.twig'
                            with {
                            'children':resource.children } %}
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/submitters.html.twig'
                            with {
                            'resource':resource } %}
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/roles.html.twig'
                            with {
                            'request':resource.id,
                            'roles':resource.roles,
                            'employees':employees} %}
                    </div><!-- /.col -->
                    {% if tasks is defined %}
                    <div class="col-md-4">
                        {% include 'vrc/widgets/tasks.html.twig'
                            with {
                            'resource':resource,
                            'tasks':tasks} %}
                    </div><!-- /.col -->
                    {% endif %}
                    {% if memos is defined %}
                    <div class="col-md-4">
                        {% include 'vrc/widgets/memos.html.twig'
                            with {
                            'resource':resource,
                            'memos':memos,
                            'employees':employees} %}
                    </div><!-- /.col -->
                    {% endif %}
                    {% if messages is defined %}
                    <div class="col-md-4">
                        {% include 'vrc/widgets/messages.html.twig'
                            with {
                            'resource':resource,
                            'messages':messages } %}
                    </div><!-- /.col -->
                    {% endif %}
                    {% if queues is defined %}
                    <div class="col-md-4">
                        {% include 'vrc/widgets/queue.html.twig'
                            with {
                            'resource':resource,
                            'queues':queues } %}
                    </div><!-- /.col -->
                    {% endif %}
                </div><!-- /.row -->
                {% endif %}
            </div><!-- /.page-inner -->

            {% include 'widgets/delete_modal.html.twig'
                with {
                'route': 'app_vrc_request',
                'resource':resource,
                'id':'delete' } %}

            {% include 'widgets/auditTrail_modal.html.twig'
                with {
                'route': 'app_vrc_request',
                'resource':resource,
                'id':'auditTrial' } %}

            {% include 'widgets/changeLog_modal.html.twig'
                with {
                'route': 'app_vrc_request',
                'resource':resource,
                'id':'changeLog' } %}

            {% include 'footer.html.twig' %}
        </div>
    </div>


    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/vrc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/vrc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
{% endblock %}
