{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/components_header.html.twig' %}

            <div class="page-inner">
                <div class="row">
        			<div class="col-md-8">
           				 <div class="card full-height">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title">{{ resourceType|trim('/')|capitalize  }}</div>
                                    <div class="card-tools">
                                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                            id="pills-tab" role="tablist">
                                            
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-all" data-toggle="pill"
                                                   href="#pills-today" role="tab"
                                                   aria-selected="true">All</a>
                                            </li>
                                        </ul>
                                    </div><!-- /.card-tools -->
                                </div><!-- /.card-head-row -->
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                    	<td>Id</td>
                                    	<td>Name</td>
                                    	<td>Created</td>
                                    	<td>Updated</td>
                                    	<td>Edit</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                        			{% for index, resource in resources %}
                                    <tr>
                                        <td>{{ resource.id }}</td>
                                        <td>{% if resource.name is defined %}{{ resource.name }}{% endif %}</td>
                                        <td>{% if resource.dateCreated is defined %}{{ resource.dateCreated }}{% endif %}</td>
                                        <td>{% if resource.dateModified is defined %}{{ resource.dateModified }}{% endif %}</td>
                                        <td><a href="{{ path('app_component_resource',{'component':componentName,'resourcetype':resource['@id']}) }}" target="_blank" class="btn btn-info">
        											<span class="btn-label">
        												<i class="icon-note"></i>
        											</span>Edit</a></td>
                                    </tr>
                        			{% endfor %}
                                    </tbody>
                                </table> 
                    		</div><!-- /.card-body -->
    						<div class="card-action">
    							<ul class="pagination pg-primary">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">«</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">»</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>
    						</div><!-- /.card-action -->
                		</div><!-- /.card -->
                	</div><!-- /.coll -->
        			<div class="col-md-4">        	
                        <div class="card card-primary bg-primary-gradient">
                            <div class="card-body">
                                <h4 class="mt-3 b-b1 pb-2 mb-3 fw-bold">Total {{ resourceType|trim('/')  }}</h4>
                                <h1 class="mb-3 fw-bold">{{ totalItems }}</h1>
                                <h4 class="mt-3 b-b1 pb-2 mb-3 fw-bold">Current view</h4>
                                <h1 class="mb-3 fw-bold">{{ resources|length }}</h1>
                                
                                <h4 class="mt-5 pb-3 mb-0 fw-bold">Current ordering</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex justify-content-between pb-1 pt-1"><small>1</small>
                                        <span>7</span></li>
                                    <li class="d-flex justify-content-between pb-1 pt-1"><small>2</small>
                                        <span>10</span></li>
                                </ul>
                                
                                <h4 class="mt-5 pb-3 mb-0 fw-bold">Current filtering</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex justify-content-between pb-1 pt-1"><small>1</small>
                                        <span>7</span></li>
                                    <li class="d-flex justify-content-between pb-1 pt-1"><small>2</small>
                                        <span>10</span></li>
                                </ul>
                            </div><!-- /.card-body -->
                        </div><!-- /.card card -->
                	</div><!-- /.coll -->
        		</div><!-- /.row -->
        	</div><!-- /.page-inner -->
        </div><!-- /.container -->

        {% include 'footer.html.twig' %}

    </div><!-- /.main-panel -->

{% endblock %}
