{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'save or create a product',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'products' : {
                        'name' : 'products',
                        'path' : 'app_pdc_products'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <form action="{{ path('app_pdc_product', {id: resource.id}) }}" method="post">

                        <div style="margin-top: -50px;" class="col-md-12">
                            <div class="card p-4 full-height">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_pdc_products')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <a href="#changeLog" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                        <a href="#auditTrial" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                        <a href="#delete" class="btn btn-danger" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'id'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       value="{% if resource.id is defined %}{{ resource.id }}{% endif %}"
                                                       disabled>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name"
                                                       value="{% if resource.name is defined %}{{ resource.name }}{% endif %}"
                                                       required>
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'catalogue'|trans|capitalize }}</label>
                                                <select id="catalogue" name="catalogue"
                                                        class="form-control form-control-lg" required>
                                                    {% for catalogue in catalogues %}
                                                        <option value="{{ catalogue['@id'] }}"
                                                                {% if resource.catalogue is defined and catalogue['@id'] == resource.catalogue %}selected=""{% endif %}>{{ catalogue.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
                                                <select id="organization" name="organization"
                                                        class="form-control form-control-lg" required>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization['@id'] }}"
                                                                {% if resource.sourceOrganization is defined and organization['@id'] == resource.sourceOrganization %}selected=""{% endif %}>{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->

                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control" rows="5" id="summernote"
                                                          name=description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card full-height p-1">
                                        <div class="card-header">
                                            <h3 class="d-inline-block">{{ 'groups'|trans|capitalize }}</h3>
                                        </div>
                                        {% if resource.groups is defined %}
                                            <div class="card-list">
                                                {% for group in resource.groups %}
                                                    <div class="item-list">
                                                        <div class="info-user ml-3">
                                                            <div class="username">
                                                                <h4>{{ group.name|capitalize }}</h4></div>
                                                            <div class="status">{{ group.description }}</div>
                                                        </div>
                                                        <a class="btn btn-icon btn-primary btn-round btn-s"
                                                                style="margin-right: 5px" data-toggle="modal"
                                                                data-target="#editGroup{{ group.id }}">
                                                            <i class="fa fa-edit white"></i>
                                                        </a>
                                                        <button class="btn btn-icon btn-danger btn-round btn-s"
                                                                style="margin-right: 15px" data-toggle="modal"
                                                                data-target="#deleteGroup{{ group.id }}">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div><!-- /.item-list -->
                                                {% endfor %}
                                            </div><!-- /.card-list -->
                                        {% endif %}

                                        <div class="card-body">
                                        </div> <!-- /.card-body -->
                                        <div class="card-action  p-1">
                                            <a class="btn btn-info btn-block" style="margin-right: 25px"
                                               href="#addGroup"
                                               data-toggle="modal"
                                               data-target="#addGroup">{{ 'add group'|trans|capitalize }}</a>
                                        </div><!-- /.card-action -->
                                    </div><!-- /.card -->
                                </div><!-- /.col -->
                                <div class="col-md-6">
                                    <div class="card full-height p-1">
                                        <div class="card-header">
                                            <h3 class="d-inline-block">{{ 'offers'|trans|capitalize }}</h3>
                                        </div>
                                        {% if resource.offers is defined %}
                                            <div class="card-list">
                                                {% for offer in resource.offers %}
                                                    <div class="item-list">
                                                        <div class="info-user ml-3">
                                                            <div class="username">
                                                                <h4>{{ offer.name|capitalize }}</h4></div>
                                                            <div class="status">{{ offer.description }}</div>
                                                        </div>
                                                        <a class="btn btn-icon btn-primary btn-round btn-s"
                                                                style="margin-right: 5px" data-toggle="modal"
                                                                data-target="#editOffer{{ offer.id }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <button class="btn btn-icon btn-danger btn-round btn-s"
                                                                style="margin-right: 15px" data-toggle="modal"
                                                                data-target="#deleteOffer{{ offer.id }}">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div><!-- /.item-list -->
                                                {% endfor %}
                                            </div><!-- /.card-list -->
                                        {% endif %}

                                        <div class="card-body">
                                        </div> <!-- /.card-body -->
                                        <div class="card-action  p-1">
                                            <a class="btn btn-info btn-block" style="margin-right: 25px"
                                               href="#addOffer"
                                               data-toggle="modal"
                                               data-target="#addOffer">{{ 'add offer'|trans|capitalize }}</a>
                                        </div><!-- /.card-action -->
                                    </div><!-- /.card -->
                                </div><!-- /.col -->
                            </div><!-- /.card -->
                        </div>
                    </form>
                </div>

            </div><!-- /.row -->
        </div><!-- /.page-inner -->


        <div class="modal fade" style="text-align: center" id="addOffer" tabindex="-1"
             role="dialog"
             aria-labelledby="addOfferTitle" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addOfferTitle"><b>{{ 'add offer'|trans|capitalize }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('app_pdc_product', {id: resource.id}) }}" method="post">
                        <div class="form-group">
                            <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                            <input type="text" class="form-control form-control-lg" id="offer[name]" name="offer[name]" value="" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                            <input type="text" class="form-control form-control-lg" id="offer[description]" name="offer[description]" value="">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="largeInput">{{ 'price'|trans|capitalize }}</label>
                            €<input type="number" class="form-control form-control-lg" id="offer[price]" name="offer[price]" value="" required step="0.01">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="">{{ 'organization'|trans|capitalize }}</label>
                            <select id="offer[offeredBy]" name="offer[offeredBy]" class="form-control form-control-lg" required>
                                <option value="">{{ 'none'|trans|capitalize }}</option>
                                {% if organizations is defined %}
                                    {% for organization in organizations %}
                                        <option value="{{ organization['@id'] }}">{{ organization.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="largeInput">{{ 'available from'|trans|capitalize }}</label>
                            <input type="datetime-local" class="form-control form-control-lg" id="offer[availabilityStarts]" name="offer[availabilityStarts]" value="">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="largeInput">{{ 'available until'|trans|capitalize }}</label>
                            <input type="datetime-local" class="form-control form-control-lg" id="offer[availabilityEnds]" name="offer[availabilityEnds]" value="">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="">{{ 'audience'|trans|capitalize }}</label>
                            <select id="offer[audience]" name="offer[audience]" class="form-control form-control-lg" required>
                                <option value="public">{{ 'public'|trans|capitalize }}</option>
                                <option value="internal">{{ 'internal'|trans|capitalize }}</option>

                            </select>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="">{{ 'taxes'|trans|capitalize }}</label>
                            <select id="offer[taxes][]" name="offer[taxes][]" class="form-control form-control-lg" required>
                                <option value="">{{ 'none'|trans|capitalize }}</option>
                                {% if taxes is defined %}
                                    {% for tax in taxes %}
                                        <option value="{{ tax['@id'] }}">{{ tax.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="">{{ 'customer types'|trans|capitalize }}</label>
                            <select id="offer[eligibleCustomerTypes][]" name="offer[eligibleCustomerTypes][]" class="form-control form-control-lg">
                                <option value="">{{ 'none'|trans|capitalize }}</option>
                                {% if customerTypes is defined %}
                                    {% for customerType in customerTypes %}
                                        <option value="{{ customerType['@id'] }}">{{ customerType.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div><!-- /.form-group -->
                        <button type="submit" class="btn btn-success m-3  mx-auto">
                            {{ 'add'|trans|capitalize }}
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% if resource.offers is defined %}
            {% for offer in resource.offers %}
                <div class="modal fade" style="text-align: center" id="editOffer{{ offer.id }}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="addOfferTitle" aria-hidden="true">
                    <div class="modal-dialog model-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addOfferTitle"><b>{{ 'add offer'|trans|capitalize }}</b></h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ path('app_pdc_product', {id: resource.id}) }}" method="post">
                                <div class="form-group">
                                    <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="offer[name]" name="offer[name]" value="{{ offer.name }}" required>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                    <input type="text" class="form-control form-control-lg" id="offer[description]" name="offer[description]" value="{% if offer.description is defined %}{{ offer.description }}{% endif %}">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'price'|trans|capitalize }}</label>
                                    €<input type="number" class="form-control form-control-lg" id="offer[price]" name="offer[price]" value="{{ offer.price/100 }}" required step="0.01">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'organization'|trans|capitalize }}</label>
                                    <select id="offer[offeredBy]" name="offer[offeredBy]" class="form-control form-control-lg" required>
                                        <option value="">{{ 'none'|trans|capitalize }}</option>
                                        {% if organizations is defined %}
                                            {% for organization in organizations %}
                                                <option value="{{ organization['@id'] }}" {% if offer.offeredBy == organization['@id'] %}selected=""{% endif %}>{{ organization.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'available from'|trans|capitalize }}</label>
                                    <input type="datetime-local" class="form-control form-control-lg" id="offer[availabilityStarts]" name="offer[availabilityStarts]" value="{% if organization.availabilityStarts is defined %}{{ organization.availabilityStarts }}{% endif %}">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="largeInput">{{ 'available until'|trans|capitalize }}</label>
                                    <input type="datetime-local" class="form-control form-control-lg" id="offer[availabilityEnds]" name="offer[availabilityEnds]" value="{% if organization.availabilityEnds is defined %}{{ organization.availabilityEnds }}{% endif %}">
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="">{{ 'audience'|trans|capitalize }}</label>
                                    <select id="offer[audience]" name="offer[audience]" class="form-control form-control-lg" required>
                                        <option value="public" {% if offer.audience == 'public' %}selected=""{% endif %}>{{ 'public'|trans|capitalize }}</option>
                                        <option value="internal" {% if offer.audience == 'internal' %}selected=""{% endif %}>{{ 'internal'|trans|capitalize }}</option>

                                    </select>
                                </div><!-- /.form-group -->
{#                                <div class="form-group">#}
{#                                    <label for="">{{ 'taxes'|trans|capitalize }}</label>#}
{#                                    <select id="offer[taxes][]" name="offer[taxes][]" class="form-control form-control-lg" >#}
{#                                        <option value="">{{ 'none'|trans|capitalize }}</option>#}
{#                                        {% if taxes is defined %}#}
{#                                            {% for tax in taxes %}#}
{#                                                <option value="{{ tax['@id'] }}">{{ tax.name }}</option>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                    </select>#}
{#                                </div><!-- /.form-group -->#}
{#                                <div class="form-group">#}
{#                                    <label for="">{{ 'customer types'|trans|capitalize }}</label>#}
{#                                    <select id="offer[eligibleCustomerTypes][]" name="offer[eligibleCustomerTypes][]" class="form-control form-control-lg">#}
{#                                        <option value="">{{ 'none'|trans|capitalize }}</option>#}
{#                                        {% if customerTypes is defined %}#}
{#                                            {% for customerType in customerTypes %}#}
{#                                                <option value="{{ customerType['@id'] }}">{{ customerType.name }}</option>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                    </select>#}
{#                                </div><!-- /.form-group -->#}
                                <input type="hidden" id="offer[@id]" name ="offer[id]" value="{{ offer['@id'] }}">
                                <input type="hidden" id="offer[cluster]" name ="offer[cluster]" value="{{ resource['@id'] }}">
                                <button type="submit" class="btn btn-success m-3  mx-auto">
                                    {{ 'edit'|trans|capitalize }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_pdc_product',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_pdc_product',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_pdc_product',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/pdc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/pdc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
{% endblock %}
