{% extends "body.html.twig" %}

{% set view = 'app_pdc_supplier' %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'suppliers',
                'name' : 'suppliers'|trans|capitalize,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    }
                }]
            }
            %}
            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                            <th scope="col">{{ 'created'|trans|capitalize }}</th>
                            <th scope="col">{{ 'modified'|trans|capitalize }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set view = 'app_wrc_template' %}
                        {% for resource in resources %}
                        <tr>
                            <td>{{ resource.name }}</td>
                            <td>{{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            <td>{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                            <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path(view, {id: resource.id}) }}"><i class="far fa-edit mr-2"></i><b>{{ 'edit'|trans|capitalize }}</b></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
