<div class="modal fade" style="text-align: center" id="{{ id }}{% if item.id is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Title"><b>{% if item.id is defined %}{{ 'edit label'|trans|capitalize }}{{ item.id }}{%  else %}{{ 'add label'|trans|capitalize }}{% endif %}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{{ path(route, {id: resource.id}) }}" method="post">

                <div class="form-group">
                    <label for="label">{{ 'label'|trans|capitalize }}</label>
                    <select id="label" name="label" class="form-control form-control-lg" required>
                    {% if labels is defined %}
                        {% for label in labels %}
                            <option value="{{ label['@id'] }}" {% if item.label  is defined and label['@id'] == item.label['@id'] %}selected=""{% endif %} >{{ label.name }}</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                </div><!-- /.form-group -->

                <button type="submit" class="btn btn-success m-3  mx-auto">
                    {{ 'add'|trans|capitalize }}
                </button>
            </form>
        </div>
    </div>
</div>
