{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                        	<form action="{{ path('app_vtc_requesttype', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        {% if changeLog is defined %}<a class="btn btn-info" href="#changeLogModal" data-toggle="modal" data-target="#changeLogModal">{{ 'changeLog'|trans|capitalize }}</a>{% endif %}
                                        {% if auditTrail is defined %}<a class="btn btn-info" href="#auditTrailModal" data-toggle="modal" data-target="#auditTrailModal">{{ 'auditTrail'|trans|capitalize }}</a>{% endif %}
                                         <a href="{{ path('app_vtc_requesttype', {'id': resource.id, 'action':'delete'}) }}" class="btn btn-danger">{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success">{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
								<div class="card-body">
									<div class="row">
        								<div class="col-md-6 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'name'|trans|capitalize }}</label>
        										<input type="text" class="form-control form-control-lg" id="name" name ="name" value="{% if resource.name is defined %}{{ resource.name }}{% endif %}">
        									</div>
    									</div> <!-- /.col -->
    									<div class="col-md-3 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
        										<select id="organization" name="organization" class="form-control form-control-lg">
        										 {% for organization in organizations %}
                                               		<option value="{{ organization['@id'] }}" {% if resource.organization is defined and organization['@id'] == resource.organization  %}selected=""{% endif %}>{{ organization.name }}</option>
                                                {% endfor %}
                                                </select>
        									</div><!-- /.form-group -->
        								</div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'icon'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="icon" name ="icon" value="{% if resource.icon is defined %}{{ resource.icon }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
    								</div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'caseType'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="caseType" name ="caseType" value="{% if resource.caseType is defined %}{{ resource.caseType }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'camundaProces'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="camundaProces" name ="camundaProces" value="{% if resource.camundaProces is defined %}{{ resource.camundaProces }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'parent'|trans|capitalize }}</label>
                                                <select id="parent" name="parent" class="form-control form-control-lg">
                                                    <option value="">{{ 'none'|trans|capitalize }}</option>
                                                    {% for requestType in requestTypes %}
                                                        <option value="{{ requestType['@id'] }}" {% if resource.parent is defined and requestType['@id'] == resource.parent  %}selected=""{% endif %}>{{ requestType.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'extends'|trans|capitalize }}</label>
                                                <select id="extends" name="extends" class="form-control form-control-lg">
                                                    <option value="">{{ 'none'|trans|capitalize }}</option>
                                                    {% for requestType in requestTypes %}
                                                        <option value="{{ requestType['@id'] }}" {% if resource.extends is defined and requestType['@id'] == resource.extends  %}selected=""{% endif %}>{{ requestType.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'unique'|trans|capitalize }}</label>
                                                <select id="unique" name="unique" class="form-control form-control-lg" required>
                                                    <option value="true" {% if resource.unique is defined and  resource.unique == true %}selected{% endif %}>{{ 'yes'|trans|capitalize }}</option>
                                                    <option value="false" {% if resource.unique is defined and resource.unique == false %}selected{% endif %}>{{ 'no'|trans|capitalize }}</option>
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'parent required'|trans|capitalize }}</label>
                                                <select id="parentRequired" name="parentRequired" class="form-control form-control-lg" required>
                                                    <option value="true" {% if resource.parentRequired is defined and  resource.parentRequired == true %}selected{% endif %}>{{ 'yes'|trans|capitalize }}</option>
                                                    <option value="false" {% if resource.parentRequired is defined and resource.parentRequired == false %}selected{% endif %}>{{ 'no'|trans|capitalize }}</option>
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'availableFrom'|trans|capitalize }}</label>
                                                <input type="datetime-local" class="form-control form-control-lg" id="availableFrom" name ="availableFrom" value="{% if resource.availableFrom is defined %}{{ resource.availableFrom }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'availableUntil'|trans|capitalize }}</label>
                                                <input type="datetime-local" class="form-control form-control-lg" id="availableUntil" name ="availableUntil" value="{% if resource.availableUntil is defined %}{{ resource.availableUntil }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
    								<div class="row">
        								<div class="col-md-12">
        									<div class="form-group">
        										<label for="largeInput">{{ 'description'|trans|capitalize }}</label>
												<textarea class="form-control" rows="5" id="description" name =description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
        									</div>
        								</div>  <!-- /.col -->
    								</div> <!-- /.row -->
								</div> <!-- /.card-body -->

								<div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
								</div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="card full-height p-1">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'properties'|trans|capitalize }}</h3>
                            </div>
                            {% if resource.properties is defined %}
                                <div class="card-list">
                                    {% for property in resource.properties %}
                                        <div class="item-list">
                                            <div class="info-user ml-3">
                                                <div class="username"><h4>{{ property.name|capitalize }}</h4></div>
                                                <div class="status">{{ property.description }}</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-s"
                                                    style="margin-right: 5px" data-toggle="modal"
                                                    data-target="#editProperty{{ property.id }}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-icon btn-danger btn-round btn-s"
                                                    style="margin-right: 15px" data-toggle="modal"
                                                    data-target="#deleteProperty{{ property.id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div><!-- /.item-list -->
                                    {% endfor %}
                                </div><!-- /.card-list -->
                            {% endif %}

                            <div class="card-body">
                            </div> <!-- /.card-body -->
                            <div class="card-action  p-1">
                                <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addProperty"
                                   data-toggle="modal"
                                   data-target="#addProperty">{{ 'add property'|trans|capitalize }}</a>
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="card p-1  full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'children'|trans|capitalize }}</h3>
                            </div>

                            {% if resource.children is defined %}
                                <div class="card-list">
                                    {% for child in resource.children %}
                                        <div class="item-list">
                                            <div class="info-user ml-3">
                                                <div class="username"><h4>{{ child.name|capitalize }}</h4></div>
                                                <div class="status">{{ child.description }}</div>
                                            </div>
                                            <a class="btn btn-icon btn-primary btn-round btn-s"
                                               style="margin-right: 5px"
                                               href="{{ path('app_vtc_requesttype', {id: child.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div><!-- /.item-list -->
                                    {% endfor %}
                                </div><!-- /.card-list -->
                            {% endif %}

                            <div class="card-body">
                            </div> <!-- /.card-body -->
                            <div class="card-action  p-1">
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->

            {% include 'footer.html.twig' %}

        </div>
    </div>
    {# the template modals #}
    {% include 'vtc/modals/property.html.twig'
        with {
        'route': 'app_vtc_requesttype',
        'resource':resource,
        'id':'addProperty' } %}

    {% if resource.properties is defined %}
        {% for property in resource.properties %}
            {% include 'widgets/delete_modal.html.twig'
                with {
                'route': 'app_vtc_requesttype',
                'resource':resource,
                'item':property,
                'id':'deleteProperty' } %}
            {% include 'vtc/modals/property.html.twig'
                with {
                'route': 'app_wrc_application',
                'resource':resource,
                'item':property,
                'id':'editProperty' } %}
        {% endfor %}
    {% endif %}

    {% if changeLog is defined %}
        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_vtc_requesttype',
            'resource':resource,
            'changeLog':changeLog,
            'id':'changeLogModal' } %}
    {% endif %}

    {% if auditTrail is defined %}
        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_vtc_requesttype',
            'resource':resource,
            'auditTrail':auditTrail,
            'id':'auditTrailModal' } %}
    {% endif %}

{% endblock %}
