{% extends "body.html.twig" %}

{% block content %}
    <div class="main-panel">
        <div class="container">
            {% include 'widgets/components_header.html.twig' %}
        
            <div class="page-inner mt--5">
                <div class="row mt--2">
        			<div class="col-md-8">
           				 <div class="card full-height">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title">{{ resourceType|trim('/')|capitalize  }}</div>
                                    <div class="card-tools">
                                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                            id="pills-tab" role="tablist">
                                            
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-all" data-toggle="pill"
                                                   href="#pills-today" role="tab"
                                                   aria-selected="true">All</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-incomplete" data-toggle="pill"
                                                   href="#pills-today" role="tab"
                                                   aria-selected="false">Incomplete</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-todo"
                                                   data-toggle="pill"
                                                   href="#pills-week" role="tab"
                                                   aria-selected="false">To do</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-done" data-toggle="pill"
                                                   href="#pills-month" role="tab"
                                                   aria-selected="false">Done</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                    	<td>Id</td>
                                    	<td>Name</td>
                                    	<td>Created</td>
                                    	<td>Updated</td>
                                    	<td>Edit</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                        			{% for index, resource in resources %}
                                    <tr>
                                        <td>{{ resource.id }}</td>
                                        <td>{% if resource.name is defined %}{{ resource.name }}{% endif %}</td>
                                        <td>{% if resource.createdAt is defined %}{{ resource.createdAt }}{% endif %}</td>
                                        <td>{% if resource.UpdatedAt is defined %}{{ resource.UpdatedAt }}{% endif %}</td>
                                        <td><a href="{{ path('app_component_resource',{'component':componentName,'resourcetype':resource['@id']}) }}" target="_blank" class="btn btn-info">
        											<span class="btn-label">
        												<i class="icon-note"></i>
        											</span>Edit</a></td>
                                    </tr>
                        			{% endfor %}
                                    </tbody>
                                </table> 
                    		</div><!-- /.card-body -->
    						<div class="card-action">
    							<button type="submit" class="btn btn-success">Submit</button>
    							<a href="{{ path('app_resource_templates') }}" class="btn btn-danger">Cancel</a>
    						</div><!-- /.card-action -->
                		</div><!-- /.card -->
                	</div><!-- /.coll -->
                	<div class="col-md-4>
                	</div><!-- /.coll -->
        		</div><!-- /.row -->
        	</div><!-- /.page-inner -->
        </div><!-- /.container -->

        {% include 'footer.html.twig' %}

    </div><!-- /.main-panel -->

{% endblock %}
