<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Persons</th>
                <th scope="col">Organizations</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, contact_list in contact_lists %}
            <tr>
                <td>{{ contact_list.name }}</td>
                <td>{{ contact_list.description }}</td>
                <td>{{ contact_list.persons }}</td>
                <td>{{ contact_list.organizations }}</td>
                <td><a href="{{ path('app_contact_edit',{'id':contact_list.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
