<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.status }}</td>
                <td><a href="{{ path('app_agenda_edit',{'id':event.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
