<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Geslacht</th>
                <th scope="col">Voorletters</th>
                <th scope="col">Voorvoegsel</th>
                <th scope="col">Aanhef</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, naam_persoon in namen_personen._embedded.item %}
            <tr>
                <td>{{ naam_persoon.uuid }}</td>
                <td>{{ naam_persoon.geslachtsnaam }}</td>
                <td>{{ naam_persoon.voorletters }}</td>
                <td>{{ naam_persoon.voornamen }}</td>
                <td>{{ naam_persoon.voorvoegsel }}</td>
                <td>{{ naam_persoon.aanhef }}</td>
                <td><a href="{{ path('app_brp_edit',{'id':naam_persoon.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
