<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Offered By</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for index, offer in offers %}
                <tr>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.description }}</td>
                    <td>{{ offer.price }}</td>
                    <td>{{ offer.offeredBy }}</td>
                    <td><a href="{{ path('app_product_edit',{'id':offer.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
