<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">KVK</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for index, organzation in organzations %}
                <tr>
                    <td>{{ organzation.name }}</td>
                    <td>{{ organzation.kvk }}</td>
                    <td>{{ organzation.telephones }}</td>
                    <td>{{ organzation.emails }}</td>
                    <td>{{ organzation.persons }}</td>
                    <td><a href="{{ path('app_contact_edit',{'id':organzation.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
