<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Organization</th>
                <th scope="col">Submitter</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, request in requests._embedded.item %}
            <tr>
                <td>{{ request.request_type }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.target_organization }}</td>
                <td>{{ request.submitter }}</td>
                <td><a href="{{ path('app_verzoekreg_edit',{'id':request.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
