<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Options</th>
                <th scope="col">Validation</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for index, stage in stages %}
                <tr>
                    <td>{{ stage.name }}</td>
                    <td>{{ stage.description }}</td>
                    <td>{{ stage.type }}</td>
                    <td>{{ stage.options }}</td>
                    <td>{{ stage.validation }}</td>
                    <td><a href="{{ path('app_process_edit',{'id':stage.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
