<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Reden</th>
                <th scope="col">Omschrijving</th>
                <th scope="col">Datum ingang</th>
                <th scope="col">Datum einde</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for index, tabel41 in tabel41s %}
                <tr>
                    <td>{{ tabel41.id }}</td>
                    <td>{{ tabel41.reden }}</td>
                    <td>{{ tabel41.omschrijving }}</td>
                    <td>{{ tabel41.datum_ingang }}</td>
                    <td>{{ tabel41.datum_einde }}</td>
                    <td><a href="{{ path('app_landelijk_edit',{'id':tabel41.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
