<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Begin datum</th>
                <th scope="col">Eind datum</th>
                <th scope="col">In onderzoek</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, verblijfstitel in verblijfstitels._embedded.item %}
            <tr>
                <td>{{ verblijfstitel.uuid }}</td>
                <td>{{ verblijfstitel.datum_ingang }}</td>
                <td>{{ verblijfstitel.datum_einde }}</td>
                <td>{{ verblijfstitel.in_onderzoek }}</td>
                <td><a href="{{ path('app_brp_edit',{'id':verblijfstitel.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
