<br>

<div class="row">
    <div class="col-sm-12">
        <div class="row" id="getuigen-container">
            <div id="0"></div>
            <input type="hidden" value="{{ property.name }}" name="newPropName">
            {% if resource.properties[property.name] is defined and resource.properties[property.name] is not empty %}
                {% if resource.properties[property.name] is iterable %}
                    {% set id = 1 %}
                    {% for assent in resource.properties[property.name] %}
                        {% set assent = commonground_resource(assent) %}
                        {% set contact = commonground_resource(assent.contact) %}
                        <div id="{{ id }}" class="col-sm-12 col-md-5"
                             style="min-height: 131px; margin: 1%; width: 48%; border: 2px solid #19c3e6; text-align: center;">
                            <h2 id="{{ id }}">{{ contact.givenName }} {{ contact.familyName }}</h2>
                            <div id="{{ id }}" style="line-height: 15px">
                                <p id="{{ id }}">Email: {{ contact.emails[0].email }}</p>
                                <p id="{{ id }}">Telefoon: {{ contact.telephones[0].telephone }}</p>
                                <label>Ingestemd</label>
                                test
                                <input type="checkbox" id="{{ id }}" value="granted"
                                       name="newProp[{{ id }}][status]" {% if assent.status == 'granted' %}checked{% endif %}>
                                <input type="hidden" id="{{ id }}" value="{{ contact.emails[0].email }}"
                                       name="newProp[{{ id }}][contact][emails][0][email]">
                                <input type="hidden" id="{{ id }}" value="{{ contact.telephones[0].telephone }}"
                                       name="newProp[{{ id }}][contact][telephones][0][telephone]">
                                <input type="hidden" id="{{ id }}" value="{{ contact.givenName }}"
                                       name="newProp[{{ id }}][contact][givenName]">
                                <input type="hidden" id="{{ id }}" value="{{ contact.additionalName }}"
                                       name="newProp[{{ id }}][contact][additionalName]">
                                <input type="hidden" id="{{ id }}" value="{{ contact.familyName }}"
                                       name="newProp[{{ id }}][contact][familyName]">

                                <input type="hidden" name="newProp[requestType]" value="{{ resource.requestType }}">
                                <input type="hidden" name="newProp[component]" value="vrc">
                                <input type="hidden" name="newProp[type]" value="requests">
                                <input type="hidden" name="newProp[status]" value="{{ resource.status }}">
                                <input type="hidden" name="newProp[organization]" value="{{ resource.organization }}">
                                <input type="hidden" name="newProp[processType]" value="{{ resource.processType }}">
                                <button class="btn btn-primary" id="{{ id }}"
                                        onclick="storedDelete(this, '{{ property.maxItems }}')"
                                        style="background-color:red; margin-bottom: 5px; width: 100%" type="button"><i
                                        style="margin-right: 10px" class="fas fa-trash-alt"></i>Verwijderen
                                </button>
                            </div>
                        </div>
                        {% set id = id + 1 %}
                    {% endfor %}
                {% else %}
                    {% set assent = commonground_resource(resource.properties[property.name]) %}
                    {% set contact = commonground_resource(assent.contact) %}
                    <div id="1" class="col-sm-12 col-md-5"
                         style="min-height: 131px; margin: 1%; width: 48%; border: 2px solid #19c3e6; text-align: center;">
                        <h2>{{ contact.givenName }} {{ contact.familyName }}</h2>
                        <div style="line-height: 15px">
                            <p>Email: {{ contact.emails[0].email }}</p>
                            <p>Telefoon: {{ contact.telephones[0].telephone }}</p>
                            <label style="margin-bottom: 10px">Ingestemd</label>
                            <input type="checkbox" id="1" value="granted"
                                   name="newProp[0][status]" {% if assent.status == 'granted' %}checked{% endif %}>
                            <input type="hidden" id="1" value="{{ contact.emails[0].email }}"
                                   name="newProp[0][contact][emails][0][email]">
                            <input type="hidden" id="1" value="{{ contact.telephones[0].telephone }}"
                                   name="newProp[0][contact][telephones][0][telephone]">
                            <input type="hidden" id="1" value="{{ contact.givenName }}"
                                   name="newProp[0][contact][givenName]">
                            <input type="hidden" id="1" value="{{ contact.additionalName }}"
                                   name="newProp[0][contact][additionalName]">
                            <input type="hidden" id="1" value="{{ contact.familyName }}"
                                   name="newProp[0][contact][familyName]">

                            <input type="hidden" id="1" name="newProp[0][@id]" value="{{ assent['@id'] }}">
                            <input type="hidden" id="1" name="newProp[0][id]" value="{{ assent.id }}">
                            <input type="hidden" name="newProp[requestType]" value="{{ resource.requestType }}">
                            <input type="hidden" name="newProp[component]" value="vrc">
                            <input type="hidden" name="newProp[type]" value="requests">
                            <input type="hidden" name="newProp[status]" value="{{ resource.status }}">
                            <input type="hidden" name="newProp[organization]" value="{{ resource.organization }}">
                            <input type="hidden" name="newProp[processType]" value="{{ resource.processType }}">
                            <button class="btn btn-primary" id="1"
                                    onclick="storedDelete(this, '{{ property.maxItems }}')"
                                    style="background-color:red; margin-bottom: 5px; width: 100%" type="button"><i
                                    style="margin-right: 10px" class="fas fa-trash-alt"></i>Verwijderen
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="personForm" class="col-sm-12">
        <div class="form-group">
            <label class="input__label" for="getuigenVoornaam">Voornaam</label>
            <input class="form-control" style="width: 100%" id="getuigenVoornaam" type="text">
            <label class="input__label mt-1" for="getuigenTussenvoegsel">Tussenvoegsel</label>
            <input class="form-control" style="width: 100%" id="getuigenTussenvoegsel" type="text">
            <label class="input__label mt-1" for="getuigenAchternaam">Achternaam</label>
            <input class="form-control" style="width: 100%" id="getuigenAchternaam" type="text">
            <label class="input__label mt-1" for="getuigenEmail">Email</label>
            <input class="form-control" style="width: 100%" id="getuigenEmail" type="email">
            <span id="inputResult"></span>
            <label class="input__label" for="getuigenTelefoon">Telefoonnummer</label>
            <input class="form-control" style="width: 100%" id="getuigenTelefoon" type="tel">
{#            <p class="mt-2"><b>Met toestemming van de instemmende?</b></p>#}
{#            <input type="radio" id="withPermission" name="withPermission" value="true">#}
{#            <label for="withPermission">Ja</label><br>#}
{#            <input type="radio" id="withoutPermission" name="withPermission" value="false">#}
{#            <label for="withoutPermission">Nee</label>#}
            <button class="btn btn-primary" id="toevoegen"
                    onclick="addAssents('{{ property.name }}', '{{ property.maxItems }}')" type="button"
                    style="margin-top: 5px; width: 100%">Uitnodigen
            </button>
        </div>
    </div>
</div>

<script>
    let personForm = document.getElementById("personForm");

    function addAssents(propertyName, items) {
        let input = document.getElementById('getuigenEmail');
        if (!input.checkValidity()) {
            document.getElementById('inputResult').innerHTML = 'Zorg dat je een geldig e-mail adres invult <br>';
        } else {
            document.getElementById('inputResult').innerHTML = '';
            let container = document.getElementById("getuigen-container");
            if (container.children.length === parseInt(items)) {
                $('#toevoegen').prop('disabled', true);
                personForm.setAttribute('style', 'display: none;');
            }
            let email = document.getElementById('getuigenEmail').value;
            let telefoon = document.getElementById('getuigenTelefoon').value;
            let voornaam = document.getElementById('getuigenVoornaam').value;
            let tussenvoegsel = document.getElementById('getuigenTussenvoegsel').value;
            let achternaam = document.getElementById('getuigenAchternaam').value;
            var radios = document.getElementsByName('withPermission');
            // var status;
            // for (var i = 0; i < radios.length; i++) {
            //     if (radios[i].type === 'radio' && radios[0].checked) {
            //         // get value, set checked flag or do whatever you need to
            //         status = 'granted';
            //     } else {
            //         status = '';
            //     }
            // }
            var requester = "{{ commonground_resource(app.user.organization).rsin }}";

            let nameCount = document.getElementById("getuigen-container").children.length - 1;
            let hEmail = document.createElement('input');
            let hTelefoon = document.createElement('input');
            let hVoornaam = document.createElement('input');
            let hTussenvoegsel = document.createElement('input');
            let hAchternaam = document.createElement('input');
            // let hStatus = document.createElement('input');
            let hRequester = document.createElement('input');
            let counter;

            console.log(document.getElementById("getuigen-container").children.length - 1);

            if (nameCount !== undefined) {
                counter = parseInt(nameCount) - 1;
            } else {
                counter = container.children.length;
            }

            hEmail.id = counter.toString();
            hTelefoon.id = counter.toString();
            hVoornaam.id = counter.toString();
            hTussenvoegsel.id = counter.toString();
            hAchternaam.id = counter.toString();
            // hStatus.id = counter.toString();
            hRequester.id = counter.toString();

            hEmail.type = 'hidden';
            hTelefoon.type = 'hidden';
            hVoornaam.type = 'hidden';
            hTussenvoegsel.type = 'hidden';
            hAchternaam.type = 'hidden';
            // hStatus.type = 'hidden';
            hRequester.type = 'hidden';

            hEmail.value = email;
            hTelefoon.value = telefoon;
            hVoornaam.value = voornaam;
            hTussenvoegsel.value = tussenvoegsel;
            hAchternaam.value = achternaam;
            // hStatus.value = status;
            hRequester.value = requester;

            hEmail.name = 'newProp[' + counter + '][contact][emails][0][email]';
            hTelefoon.name = 'newProp[' + counter + '][contact][telephones][0][telephone]';
            hVoornaam.name = 'newProp[' + counter + '][contact][givenName]';
            hTussenvoegsel.name = 'newProp[' + counter + '][contact][additionalName]';
            hAchternaam.name = 'newProp[' + counter + '][contact][familyName]';
            // hStatus.name = 'newProp[' + counter + '][status]';
            hRequester.name = 'newProp[' + counter + '][requester]';

            let outerDiv = document.createElement('div');
            outerDiv.setAttribute('style', 'min-height: 131px; margin: 1%; width: 48%; border: 2px solid #19c3e6; text-align: center;');
            outerDiv.id = counter.toString();
            container.appendChild(outerDiv);

            let h2 = document.createElement('h2');
            h2.innerHTML = voornaam + " " + tussenvoegsel + " " + achternaam;
            h2.id = counter.toString();
            outerDiv.appendChild(h2);

            let innerDiv = document.createElement('div');
            innerDiv.setAttribute('style', 'line-height: 15px');
            innerDiv.id = counter.toString();
            outerDiv.appendChild(innerDiv);

            let pEmail = document.createElement('p');
            pEmail.innerHTML = 'Email: ' + email;
            pEmail.setAttribute('style', 'margin-bottom: 0px !important;');
            pEmail.id = counter.toString();
            innerDiv.appendChild(pEmail);

            let pTelefoon = document.createElement('p');
            pTelefoon.innerHTML = 'Telefoon: ' + telefoon;
            pTelefoon.setAttribute('style', 'margin-bottom: 5px;');
            pTelefoon.id = counter.toString();
            innerDiv.append(pTelefoon);

            let pStatusLabel = document.createElement('label');
            pStatusLabel.classList.add('input__label');
            pStatusLabel.setAttribute('style', 'margin-bottom: 5px;');
            pStatusLabel.id = counter.toString();
            pStatusLabel.innerText = 'Ingestemd';
            pStatusLabel.style.display = 'inline-block !important';
            innerDiv.append(pStatusLabel);

            let pStatus = document.createElement('input');
            pStatus.value = 'granted';
            pStatus.type = 'checkbox';
            pStatus.setAttribute('style', 'margin-bottom: 5px;important;margin-left: 7.5px;width: 14px !important;display: inline-block;');
            pStatus.classList.add('form-control');
            pStatus.id = counter.toString();
            pStatus.name = 'newProp[' + counter + '][status]';
            innerDiv.append(pStatus);

            // let pRequester = document.createElement('p');
            // pRequester.innerHTML = requester;
            // pRequester.setAttribute('style', 'margin-bottom: 5px;');
            // pRequester.id = counter.toString();
            // innerDiv.append(pRequester);

            let button = document.createElement('button');
            button.innerHTML = '<i style="margin-right: 10px" class="fas fa-trash-alt"></i> Verwijderen';
            button.addEventListener('click', function () {
                removeGetuigen(outerDiv, '{{ property.maxItems }}');
            });
            button.className = 'btn btn-primary';
            button.setAttribute('style', 'background-color: red; margin-bottom: 5px; width:100%;')
            button.type = 'button';
            button.id = counter.toString();


            innerDiv.appendChild(hEmail);
            innerDiv.appendChild(hTelefoon);
            innerDiv.appendChild(hVoornaam);
            innerDiv.appendChild(hTussenvoegsel);
            innerDiv.appendChild(hAchternaam);
            innerDiv.appendChild(hStatus);
            innerDiv.appendChild(hRequester);
            innerDiv.appendChild(button);

            document.getElementById('getuigenEmail').value = '';
            document.getElementById('getuigenTelefoon').value = '';
            document.getElementById('getuigenVoornaam').value = '';
            document.getElementById('getuigenTussenvoegsel').value = '';
            document.getElementById('getuigenAchternaam').value = '';
            document.getElementById('withoutPermission').checked = false;
            document.getElementById('withPermission').checked = false;
        }

    }

    function removeGetuigen(target, items) {
        let container = document.getElementById("getuigen-container");
        target.remove();
        if (container.children.length < parseInt(items) + 1) {
            $('#toevoegen').prop('disabled', false);
            personForm.setAttribute('style', 'display: block;');
        }
    }

    function storedDelete(given, items) {
        let container = document.getElementById("getuigen-container");
        let td = given.parentNode;
        let tr = td.parentNode;
        given.remove();
        td.remove();
        tr.remove();
        if (container.children.length < parseInt(items) + 1) {
            $('#toevoegen').prop('disabled', false);
            personForm.setAttribute('style', 'display: block;');
        }
    }
</script>
