
<div class="modal fade" style="text-align: center" id="{{ id }}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content" style="width: 850px;">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Label"><b>{{ 'auditTrail'|trans|capitalize }}</b></h5>
            </div><!-- /.header -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ 'method'|trans|capitalize }}</th>
                    <th scope="col">{{ 'user'|trans|capitalize }}</th>
                    <th scope="col">{{ 'ip'|trans|capitalize }}</th>
                    <th scope="col">{{ 'session'|trans|capitalize }}</th>
                    <th scope="col">{{ 'created'|trans|capitalize }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for record in auditTrail %}
                    <tr>
                        <td>{{ record.method }}</td>
                        <td>{{ record.user }}</td>
                        <td>{{ record.ip }}</td>
                        <td>{{ record.session }}</td>
                        <td>{{ record.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
