<div class="modal fade" style="text-align: center" id="{{ id }}{% if item is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ id }}Title"><b>{{ 'change log '|trans|capitalize }}</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
