{% extends "body.html.twig" %}

{% set view = 'app_ptc_processtype' %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'process type',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'proces types' : {
                        'name' : 'proces types',
                        'path' : 'app_ptc_processtypes'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path(view, {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_ptc_processtypes')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <button class="btn btn-info mr-4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'options'|trans|capitalize }}</button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#changeLog" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a href="#delete" class="dropdown-item text-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        </div>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name" required value="{{ resource.name }}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'subtitle'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="subtitle" name="name">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'icon'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="subtitle" name="name">
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'organization'|trans|capitalize }}</label>

                                                <select name="sourceOrganization" id="sourceOrganization" class="form-control form-control-lg" required>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization['@id'] }}" {% if resource.organization is defined and resource.organization == organization['@id'] %} selected {% endif %} >{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'request type'|trans|capitalize }}</label>
                                                <select name="requestType" id="requestType" class="form-control form-control-lg" required>
                                                    {% for requestType in requestTypes %}
                                                        <option value="{{ requestType['@id'] }}" {% if resource.requestType is defined and resource.requestType == requestType['@id'] %} selected {% endif %} >{{ requestType.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <input class="" type="hidden" name="requireLogin" value="false" />
                                                {% if resource.requireLogin is defined %}
                                                    {% if resource.requireLogin == 'true' %}
                                                        <input class="" type="checkbox" name="requireLogin" id="requireLogin" value="true" checked/>
                                                    {% else %}
                                                        <input class="" type="checkbox" name="requireLogin" id="requireLogin" value="true" />
                                                    {% endif %}
                                                {% else %}
                                                    <input class="" type="checkbox" name="requireLogin" id="requireLogin" value="true" />
                                                {% endif %}
                                                <label for="requireLogin">{{ 'require login'|trans|capitalize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control summernote" rows="5" id="description"
                                                          name=description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>

            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-8">
                    {% include 'vrc/widgets/properties.html.twig'
                        with {
                        'resource': resource } %}
                </div><!-- /.col -->
            </div>
        </div><!-- /.page-inner -->

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_ptc_processtype',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_ptc_processtype',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_ptc_processtype',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    </div>
    <script>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/ptc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/ptc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
