{# RequestType ID: 5b10c1d6-7121-4be2-b479-7523f1b625f1 voor template: Aanvragen huwelijken of partnerschap #}
{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_vrc_request', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.reference }}</h2>  {% if resource.parent is defined and resource.parent is not empty %} {{ 'belongs to'|trans|capitalize }} <a href="{{ path('app_vrc_request', {'id': resource.parent.id}) }}">{{ resource.parent.reference }}</a> {% endif %}
                                        <div class="float-right">

                                            {% if changeLog is defined %}<a class="btn btn-info" href="#changeLogModal" data-toggle="modal" data-target="#changeLogModal">{{ 'changeLog'|trans|capitalize }}</a>{% endif %}
                                            {% if auditTrail is defined %}<a class="btn btn-info" href="#auditTrailModal" data-toggle="modal" data-target="#auditTrailModal">{{ 'auditTrail'|trans|capitalize }}</a>{% endif %}
                                            <a href="#deleteApplication" class="btn btn-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#deleteRequest">{{ 'delete'|trans|capitalize }}</a>
                                            <button class="btn btn-success">{{ 'save'|trans|capitalize }}</button>
                                        </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'case'|trans|capitalize }}</label>
                                                {% if resource.cases is defined and resource.cases|length >0  %}
                                                    <input type="text" class="form-control form-control-lg"  value="{% if resource.cases is defined %}{{ resource.cases[0] }}{% endif %}" disabled="">
                                                {% else %}
                                                    {% if resource.organization is defined and resource.requestType is defined %}<a class="btn btn-info btn-block" style="margin-right: 25px" href="#addCase"  data-toggle="modal" data-target="#addCase">{{ 'add case'|trans|capitalize }}</a>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
                                                <select id="organization" name="organization" class="form-control form-control-lg" {% if resource.organization is defined and resource.organization is not empty %}disabled{% endif %}>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization['@id'] }}" {% if resource.organization is defined and organization['@id'] == resource.organization  %}selected=""{% endif %}>{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'type'|trans|capitalize }}</label>
                                                <select id="requestType" name="requestType" class="form-control form-control-lg" {% if resource.requestType is defined and resource.requestType is not empty %}disabled{% endif %}>
                                                    {% for value in requestTypes %}
                                                        <option value="{{ value['@id'] }}" {% if resource.requestType is defined and value['@id'] == resource.organization  %}selected{% endif %}>{{ value.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'status'|trans|capitalize }}</label>
                                                <select id="status" name="status" class="form-control form-control-lg">
                                                    <option value="incomplete" {% if resource.status is defined and 'incomplete ' == resource.status  %}selected{% endif %}>{{ 'incomplete'|trans|capitalize }}</option>
                                                    <option value="complete" {% if resource.status is defined and 'complete ' == resource.status  %}selected{% endif %}>{{ 'complete'|trans|capitalize }}</option>
                                                    <option value="submitted" {% if resource.status is defined and 'submitted ' == resource.status  %}selected{% endif %}>{{ 'submitted'|trans|capitalize }}</option>
                                                    <option value="processed" {% if resource.status is defined and 'processed ' == resource.status  %}selected{% endif %}>{{ 'processed'|trans|capitalize }}</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->

                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-4">
                        {% include 'vrc/widgets/properties_checklist.html.twig'
                            with {
                            'properties': resource.properties } %}

                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/properties_partners.html.twig'
                            with {
                            'submitters': resource.submitters } %}
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/memos.html.twig'
                            with {
                            'children': resource.children } %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-4">
                        {% include 'vrc/widgets/documents.html.twig'
                            with {
                            'properties': resource.properties } %}

                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/submitters.html.twig'
                            with {
                            'submitters': resource.submitters } %}
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        {% include 'vrc/widgets/children.html.twig'
                            with {
                            'children': resource.children } %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->
            {% include 'footer.html.twig' %}
        </div>
    </div>

    {% if resource.organization is defined and resource.requestType is defined %}
        {% if changeLog is defined %}
            {% include 'vrc/modals/case.html.twig'
                with {
                'route': 'app_vrc_request',
                'resource':resource,
                'changeLog':changeLog,
                'id':'changeLogModal' } %}
        {% endif %}

    {% endif %}

    {% include 'widgets/delete_modal.html.twig'
        with {
        'route': 'app_vrc_request',
        'resource':resource,
        'id':'deleteRequest' } %}

    {% if changeLog is defined %}
        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_vrc_request',
            'resource':resource,
            'changeLog':changeLog,
            'id':'changeLogModal' } %}
    {% endif %}

    {% if auditTrail is defined %}
        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_vrc_request',
            'resource':resource,
            'auditTrail':auditTrail,
            'id':'auditTrailModal' } %}
    {% endif %}


{% endblock %}

