{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% if resource.reference is defined %}
            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'grave',
                'name' : resource.reference,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'graves' : {
                        'name' : 'graves',
                        'path' : 'app_grc_graves'
                    }
                }]
            }
            %}
            {% else %}
            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'grave',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'graves' : {
                        'name' : 'graves',
                        'path' : 'app_grc_graves'
                    }
                }]
            }
            %}
            {% endif %}
            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_grc_grave', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{% if resource.reference is defined %}{{ resource.reference }} {% else%} {{ 'grave'|trans|capitalize }} {% endif%} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary" href="{{ path('app_grc_graves')}}">
                                            <i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <button class="btn btn-info mr-4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'options'|trans|capitalize }}</button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#changeLog" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a href="#delete" class="dropdown-item text-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        </div>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'reference'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="reference" name ="reference" value="{% if resource.reference is defined %}{{ resource.reference }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'status'|trans|capitalize }}</label>
                                                <select id="status" name="status"
                                                        class="form-control form-control-lg" required>
                                                    <option value="Beschikbaar">Beschikbaar</option>
                                                    <option value="Bezet">Bezet</option>
                                                    <option value="Administratief geruimd">Administratief Geruimd</option>
                                                </select>
                                            </div>
                                        </div>  <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'grave type'|trans|capitalize }}</label>
                                                <select id="graveType" name="graveType"
                                                        class="form-control form-control-lg" required>
                                                    {% for graveType in gravetypes %}
                                                        <option value="{{ graveType['@id'] }}"
                                                                {% if resource.graveType is defined and graveType.id == resource.graveType.id %}selected=""{% endif %}>{{ graveType.reference }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'cemetery'|trans|capitalize }}</label>
                                                <select id="cemetery" name="cemetery"
                                                        class="form-control form-control-lg" required>
                                                    {% for cemetery in cemeteries %}
                                                        <option value="{{ cemetery['@id'] }}"
                                                                {% if resource.cemetery is defined and cemetery.id == resource.cemetery.id %}selected=""{% endif %}>{{ cemetery.reference }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>  <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'deceased'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="deceased" name ="deceased" value="{% if resource.deceased is defined %}{{ resource.deceased }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'stakeholder'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="stakeholder" name ="stakeholder" {% if resource.stakeholder is defined %}value="{{ resource.stakeholder }}"{% endif %}>                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'acquisition'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="acquisition" name ="acquisition" value="{% if resource.acquisition is defined %}{{ resource.acquisition }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'location'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="location" name ="location" value="{% if resource.location is defined %}{{ resource.location }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'position'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="position" name ="position" value="{% if resource.position is defined %}{{ resource.position }}{% endif %}">
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'grave cover'|trans|capitalize }}</label>
                                                <select id="graveCovers[]" name="graveCovers[]"
                                                        class="form-control form-control-lg" required>
                                                    {% for graveCover in gravecovers %}
                                                        <option value="{{ graveCover['@id'] }}"
                                                                {% if resource.graveCovers is defined and graveCover['@id'] == resource.graveCovers %}selected=""{% endif %}>{{ graveCover.reference }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control summernote" rows="5" id="description" name ="description">{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                        </div> <!-- /.card-body -->


                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->

            {% include 'widgets/delete_modal.html.twig'
                with {
                'route': 'app_grc_grave',
                'resource':resource,
                'id':'delete' } %}

            {% include 'widgets/auditTrail_modal.html.twig'
                with {
                'route': 'app_grc_grave',
                'resource':resource,
                'id':'auditTrial' } %}

            {% include 'widgets/changeLog_modal.html.twig'
                with {
                'route': 'app_grc_grave',
                'resource':resource,
                'id':'changeLog' } %}

            {% include 'footer.html.twig' %}
            </div>
        </div>
    <script>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/grc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/grc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>

{% endblock %}
