{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
            'title': 'application',
            'breadcrumbs':[] }  %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_wrc_application', {'id': resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        {% if changeLog is defined %}<a class="btn btn-info" href="#changeLogModal" data-toggle="modal" data-target="#changeLogModal">{{ 'changeLog'|trans|capitalize }}</a>{% endif %}
                                        {% if auditTrail is defined %}<a class="btn btn-info" href="#auditTrailModal" data-toggle="modal" data-target="#auditTrailModal">{{ 'auditTrail'|trans|capitalize }}</a>{% endif %}
                                        <a class="btn btn-primary mr-4" href="javascript:history.go(-1)">{{ 'back'|trans|capitalize }}</a>
                                        <a href="#deleteApplication" class="btn btn-danger" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#deleteApplication">{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success">{{ 'save'|trans|capitalize }}</button>


                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name"
                                                       value="{% if resource.name is defined %}{{ resource.name }}{% endif %}"
                                                       required>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'id'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       value="{% if resource.id is defined %}{{ resource.id }}{% endif %}"
                                                       disabled>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'domain'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="domain"
                                                       name="domain"
                                                       value="{% if resource.domain is defined %}{{ resource.domain }}{% endif %}"
                                                       required>
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="style">{{ 'style'|trans|capitalize }}</label>
                                                <select id="style" name="style" class="form-control form-control-lg"
                                                        {% if styles is not defined %}disabled{% endif %} >
                                                    {% if styles is defined %}
                                                        {% for style in styles %}
                                                            <option value="{{ style['@id'] }}"
                                                                    {% if resource.style is defined and resource.style is not empty and style['@id'] == resource.style['@id'] %}selected=""{% endif %}>{{ style.name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label
                                                    for="defaultConfiguration">{{ 'default configuration'|trans|capitalize }}</label>
                                                <select id="defaultConfiguration" name="defaultConfiguration"
                                                        class="form-control form-control-lg"
                                                        {% if configurations is not defined %}disabled{% endif %}>
                                                    {% if configurations is defined %}
                                                        {% for configuration in configurations %}
                                                            <option value="{{ configuration['@id'] }}"
                                                                    {% if resource.defaultConfiguration is defined and  resource.defaultConfiguration is not empty and  configuration['@id'] == resource.defaultConfiguration['@id'] %}selected=""{% endif %}>{{ configuration.name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
                                                <select id="organization" name="organization"
                                                        class="form-control form-control-lg" required>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization['@id'] }}"
                                                                {% if resource.organization is defined and organization['@id'] == resource.organization %}selected=""{% endif %}>{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control" rows="5" id="description"
                                                          name="description"
                                                          required>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-3">
                        {% include 'wrc/widgets/configurations.html.twig'
                            with {
                            'configurations': configurations } %}
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="card p-1  full-height">
                            {% include 'wrc/widgets/templates.html.twig'
                                with {
                                'templates': templates } %}
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="card p-0 full-height">
                            {% include 'wrc/widgets/slugs.html.twig'
                                with {
                                'slugs': slugs } %}
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        {% include 'wrc/widgets/menus.html.twig'
                            with {
                            'menus': menus } %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->

            {% include 'widgets/delete_modal.html.twig'
                with {
                'route': 'app_wrc_application',
                'resource':resource,
                'id':'deleteApplication' } %}

            {% include 'footer.html.twig' %}

        </div>
    </div>

{% endblock %}
