{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">
			
            {% include 'widgets/babs/title_h1.html.twig' with {'h1': 'Template bewerken','functie': 'Dashboard -> WRC -> Templates -> '~template.name }%}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                        	<form action="{{ path('app_wrc_template', {id: template.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ template.name }} </h2>
                                    <div class="float-right">
                                        <button class="btn btn-danger" style="margin-right: 25px">Verwijderen</button>
                                        <button class="btn btn-success">Opslaan</button>
                                    </div>
                                </div>
								<div class="card-body">
									<div class="row">
    									<div class="col-md-6 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">Title</label>
        										<input type="text" class="form-control form-control-lg" id="title" name ="title" placeholder="Large Input" value="{{ template.title }}">
        									</div>
        								</div> <!-- /.col -->  
        								<div class="col-md-6 col-sm-12">
        									<div class="form-group">
        										<label for="largeInput">Name</label>
        										<input type="text" class="form-control form-control-lg" id="name" name ="name" placeholder="Large Input" value="{{ template.name }}">
        									</div>
    									</div> <!-- /.col -->  
    								</div><!-- /.row --> 
    								<div class="row">
        								<div class="col-md-12">    
        									<div class="form-group">
        										<label for="largeInput">Description</label>
												<textarea class="form-control" rows="5" id="description" name =description>{{ template.description }}</textarea>
        									</div>       
        								</div>  <!-- /.col -->  
        								<div class="col-md-12">    
        									<div class="form-group">
        										<label for="largeInput">Content</label>
												<textarea class="form-control" rows="25" id="content" name ="content">{{ template.content }}</textarea>
        									</div>       
        								</div>  <!-- /.col -->     
    								</div> <!-- /.row -->       
								</div> <!-- /.card-body -->          
                            
								<div class="card-action">
								Aangemaakt op {{ template.dateCreated|date("d-m-Y H:i:s") }} en voor het laats bewerkt op {{ template.dateModified|date("d-m-Y H:i:s") }}
								</div><!-- /.card-action -->                           
                            </form>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-inner -->

            {% include 'footer.html.twig' %}

        </div>
    </div>

{% endblock %}
