{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'cluster',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'clusters' : {
                        'name' : 'clusters',
                        'path' : 'app_evc_clusters'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        {% if resource.status is defined %}
                                            <a href="#statusLog" class="btn btn-info" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#statusLog">{{ 'status'|trans|capitalize }}</a>
                                        {% endif %}
                                        <a class="btn btn-primary mr-4" href="{{ path('app_evc_clusters')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <a href="#changeLog" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                        <a href="#auditTrial" class="btn btn-info" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                        <a href="#delete" class="btn btn-danger" style="margin-right: 25px"
                                           data-toggle="modal"
                                           data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                        <a href="{{ path('app_evc_cluster', {'id': resource.id, 'action':'load'}) }}" class="btn btn-info">{{ 'load excel'|trans|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="name"
                                                       name="name" placeholder="Large Input"
                                                       value="{{ resource.name }}">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'provider'|trans|capitalize }}</label>
                                                <select type="text" class="form-control form-control-lg" id="name"
                                                       name="provider" placeholder="Large Input">
                                                    <option value="">{{ 'none'|trans|capitalize }}</option>
                                                    <option value="Digital Ocean">Digital Ocean</option>
                                                    <option value="CYSO">CYSO</option>
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                <textarea class="form-control summernote" rows="5" id="description" name=description>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'kubeconfig'|trans|capitalize }}</label>
                                                <textarea class="form-control" rows="5" id="description" name=kubeconfig></textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->
                            <div class="card-action">
                            {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                            </div><!-- /.card-action -->
                            </form>
                        </div> <!-- /.card-body -->
                    </div><!-- /.card -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'domains'|trans|capitalize }}</h3>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addDomain"  data-toggle="modal" data-target="#addDomain">{{ 'add domain'|trans|capitalize }}</a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if domains is defined %}
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for domain in domains %}
                                            <tr>
                                                <td>{{ domain.name }}</td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="#editDomain{{ domain.id }}"  data-toggle="modal" data-target="#editDomain{{ domain.id }}">{{ 'edit'|trans|capitalize }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div> <!-- /.card-body -->
                            <div class="card-action">
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'environments'|trans|capitalize }}</h3>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="{{ path('app_evc_environment', {id: 'new'}) }}"  data-target="#addEnvironment">{{ 'add environment'|trans|capitalize }}</a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if environments is defined %}
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for environment in environments %}
                                            <tr>
                                                <td>{{ environment.name }}</td>
                                                <td><a class="btn btn-info btn-block" style="margin-right: 25px" href="{{ path('app_evc_environment', {id: environment.id}) }}"  data-target="#editEnvironment{{ environment.id }}">{{ 'edit'|trans|capitalize }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div> <!-- /.card-body -->
                            <div class="card-action">
                            </div><!-- /.card-action -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!--/.row -->

                </div>


            </div><!-- /.page-inner -->

            <div class="modal fade" style="text-align: center" id="addDomain" tabindex="-1"
                 role="dialog"
                 aria-labelledby="addDomainTitle" aria-hidden="true">
                <div class="modal-dialog model-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addDomainTitle"><b>{{ 'add domain'|trans|capitalize }}</b></h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                            <div class="form-group">
                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="domain[name]" name="domain[name]" value="" required>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'location'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="domain[location]" name="domain[location]" value="" required>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="domain[description]" name="domain[description]" value="">
                            </div><!-- /.form-group -->
                            <button type="submit" class="btn btn-success m-3  mx-auto">
                                {{ 'add'|trans|capitalize }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% if domains is defined %}
                {% for domain in domains %}
                    <div class="modal fade" style="text-align: center" id="editDomain{{ domain.id }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="editDomainTitle" aria-hidden="true">
                        <div class="modal-dialog model-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editDomainTitle"><b>{{ 'edit domain'|trans|capitalize }}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="domain[name]" name="domain[name]" value="{{ domain.name }}">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="domain[description]" name="domain[description]" value="{{ domain.description }}">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'location'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="domain[location]" name="domain[location]" value="{{ domain.location }}">
                                    </div><!-- /.form-group -->
                                    <input type="hidden" id="domain[@id]" name ="domain[id]" value="{{ domain['@id'] }}">
                                    <input type="hidden" id="domain[cluster]" name ="domain[cluster]" value="{{ resource['@id'] }}">
                                    <button type="submit" class="btn btn-success m-3  mx-auto">
                                        {{ 'edit'|trans|capitalize }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="modal fade" style="text-align: center" id="addEnvironment" tabindex="-1"
                 role="dialog"
                 aria-labelledby="addEnvironmentTitle" aria-hidden="true">
                <div class="modal-dialog model-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addEnvironmentTitle"><b>{{ 'add domain'|trans|capitalize }}</b></h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                            <div class="form-group">
                                <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="environment[name]" name="environment[name]" value="" required>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="environment[description]" name="environment[description]" value="">
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'debug'|trans|capitalize }}</label>
                                <input type="radio" class="form-control form-control-lg" id="environment[debug] off" name="environment[debug]" value=0 checked><label for="environment[debug] off">{{ 'no'|trans|capitalize }}</label>
                                <input type="radio" class="form-control form-control-lg" id="environment[debug] on" name="environment[debug]" value=1 ><label for="environment[debug] on">{{ 'yes'|trans|capitalize }}</label>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'cache'|trans|capitalize }}</label>
                                <input type="radio" class="form-control form-control-lg" id="environment[cache] off" name="environment[cache]" value=0 checked><label for="environment[cache] off">{{ 'no'|trans|capitalize }}</label>
                                <input type="radio" class="form-control form-control-lg" id="environment[cache] on" name="environment[cache]" value=1 ><label for="environment[cache] on">{{ 'yes'|trans|capitalize }}</label>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="largeInput">{{ 'authorization key'|trans|capitalize }}</label>
                                <input type="text" class="form-control form-control-lg" id="environment[authorization]" name="environment[authorization]" value="" required>
                            </div><!-- /.form-group -->

                            <button type="submit" class="btn btn-success m-3  mx-auto">
                                {{ 'add'|trans|capitalize }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% if environments is defined %}
                {% for environment in environments %}
                    <div class="modal fade" style="text-align: center" id="editEnvironment{{ environment.id }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="editEnvironmentTitle" aria-hidden="true">
                        <div class="modal-dialog model-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editEnvironmentTitle"><b>{{ 'edit environment'|trans|capitalize }}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ path('app_evc_cluster', {id: resource.id}) }}" method="post">
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="environment[name]" name="environment[name]" value="{{ environment.name }}">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="environment[description]" name="environment[description]" value="{{ environment.description }}">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'debug'|trans|capitalize }}</label>
                                        <input type="radio" class="form-control form-control-lg" id="environment[debug] off" name="environment[debug]" value=0 {% if environment.debug == 0 %} checked {% endif %}><label for="environment[debug] off">{{ 'no'|trans|capitalize }}</label>
                                        <input type="radio" class="form-control form-control-lg" id="environment[debug] on" name="environment[debug]" value=1  {% if environment.debug == 1 %} checked {% endif %}><label for="environment[debug] on">{{ 'yes'|trans|capitalize }}</label>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="largeInput">{{ 'authorization key'|trans|capitalize }}</label>
                                        <input type="text" class="form-control form-control-lg" id="environment[authorization]" name="environment[authorization]" value="">
                                    </div><!-- /.form-group -->

                                    <input type="hidden" id="environment[@id]" name ="environment[id]" value="{{ environment['@id'] }}">
                                    <input type="hidden" id="environment[cluster]" name ="environment[cluster]" value="{{ resource['@id'] }}">
                                    <button type="submit" class="btn btn-success m-3  mx-auto">
                                        {{ 'edit'|trans|capitalize }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}



            {% include 'widgets/delete_modal.html.twig'
                with {
                'route': 'app_evc_cluster',
                'resource':resource,
                'id':'delete' } %}

            {% include 'widgets/auditTrail_modal.html.twig'
                with {
                'route': 'app_evc_cluster',
                'resource':resource,
                'id':'auditTrial' } %}

            {% include 'widgets/changeLog_modal.html.twig'
                with {
                'route': 'app_evc_cluster',
                'resource':resource,
                'id':'changeLog' } %}

            {% include 'widgets/statusLog_modal.html.twig'
                with {
                'route': 'app_cc_cluster',
                'resource':resource,
                'id':'statusLog' } %}


            {% include 'footer.html.twig' %}

       </div>
    </div>
    <script>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/evc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/evc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
