{# RequestType ID: 4830cd4c-d8ce-4f8c-a8ad-f3dc821911f3 voor template: Aanvragen naamwijziging #}

{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    {% if resources is defined and resources|length > 0 %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Parent</th>
                                <th scope="col">Aangemaakt op</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in resources %}
                                <tr>
                                    <td>
                                        {{ request.id }}
                                    </td>
                                    {% if request.parent is defined and request.parent is not empty %}
                                        <td>
                                            {{ request.parent.id }}
                                        </td>
                                    {% else %}
                                        <td style="color: lightgray;">Geen parent</td>
                                    {% endif %}
                                    {% if request.date_created is defined and request.date_created is not empty %}
                                        <td>{{ request.date_created|date("d-m-Y H:i", "Europe/Paris") }}</td>
                                    {% else %}
                                        <td style="color: lightgray;"></td>
                                    {% endif %}
                                    {% if request.status is defined and request.status is not empty %}
                                        <td>{{ request.status|capitalize }}</td>
                                    {% else %}
                                        <td style="color: lightgray;">Geen status</td>
                                    {% endif %}
                                    <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                                           href="{{ path('app_vrc_request', {id: request.id, requestType: request.requestType} ) }}"><b>Bewerk</b></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="p-4">Geen resultaten gevonden.</p>
                    {% endif %}
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
