
<div class="modal fade" style="text-align: center" id="{{ id }}{% if item.id is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Label"><b>{{ item.name }}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.header -->
            <div class="modal-dialog">
                <h4>{{ 'are you sure you want to perform the action: '|trans|capitalize }} </h4>
                <span>{{ action|trans|capitalize }}</span>

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary mx-auto" href="{{ path(route, {'id': item.id, 'action': action }) }}">{{ 'yes'|trans|capitalize }}</a>
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">{{ 'no'|trans|capitalize }}</button>
            </div>
        </div><!-- /.content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
