<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'installations'|trans|capitalize }}</h3>
        <a class="btn btn-info float-right" style="margin-right: 25px" href="#addInstallation"  data-toggle="modal" data-target="#addInstallation">{{ 'add installation'|trans|capitalize }}</a>
    </div>
    <div class="card-body mb-5">
        {% if resource.installations is defined %}
            <table class="table table-hover" style="table-layout: fixed !important;">
                <thead>
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'deployment name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'dateCreated'|trans|capitalize }}</th>
                    <th scope="col">{{ 'dateInstalled'|trans|capitalize }}</th>
                    <th scope="col">{{ 'health'|trans|capitalize }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for installation in resource.installations %}
                    <tr>
                        <td>{{ installation.name }}</td>
                        <td>{{ installation.deploymentName }}</td>
                        <td>{% if installation.environment is defined %}{{ installation.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} {% endif %}</td>
                        <td>{% if installation.environment is defined %}{{ installation.dateInstalled|date("d-m-Y H:i:s", "Europe/Paris") }}{% else %}{{ 'pending'|trans|capitalize }}{% endif %}</td>
                        <td>{{ installation.status }}</td>
                        <td>
                            <button style="float: right" class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'edit'|trans|capitalize }}</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" style="margin-right: 25px" href="#editInstallation{{ installation.id }}"  data-toggle="modal" data-target="#editInstallation{{ installation.id }}">{{ 'edit'|trans|capitalize }}</a>
                                {% if installation.dateInstalled != null %}
                                    <button class="dropdown-item "style="margin-right: 25px" data-toggle="modal" data-target="#upgradeInstallation{{ installation.id }}">{{ 'upgrade'|trans|capitalize }}</button>
                                    <button class="dropdown-item "style="margin-right: 25px" data-toggle="modal" data-target="#rollingupdateInstallation{{ installation.id }}">{{ 'rolling update'|trans|capitalize }}</button>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <button class="dropdown-item text-danger"style="margin-right: 25px" data-toggle="modal" data-target="#uninstallInstallation{{ installation.id }}">{{ 'uninstall'|trans|capitalize }}</button>
                                    <button class="dropdown-item text-danger" disabled style="margin-right: 25px; color: grey !important;" data-toggle="modal" data-target="#deleteInstallation{{ installation.id }}"> {{ 'delete'|trans|capitalize }}</button>
                                {% else %}
                                    <button class="dropdown-item" style="margin-right: 25px" data-toggle="modal" data-target="#installInstallation{{ installation.id }}"> {{ 'install'|trans|capitalize }}</button>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <button class="dropdown-item text-danger" disabled style="margin-right: 25px; color: grey !important;" data-toggle="modal" data-target="#uninstallInstallation{{ installation.id }}"> {{ 'uninstall'|trans|capitalize }}</button>
                                    <button class="dropdown-item text-danger"style="margin-right: 25px" data-toggle="modal" data-target="#deleteInstallation{{ installation.id }}"> {{ 'delete'|trans|capitalize }}</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div><!-- /.card -->

{# the installations modals #}
{% include 'evc/modals/installation.html.twig'
    with {
    'route': 'app_evc_environment',
    'resource':resource,
    'id':'addInstallation' } %}

{% if installations is defined %}
    {% for installation in installations %}
        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_evc_environment',
            'resource':resource,
            'item':installation,
            'id':'deleteInstallation' } %}

        {% include 'evc/modals/installation.html.twig'
            with {
            'route': 'app_evc_environment',
            'resource':resource,
            'item':installation,
            'id':'editInstallation' } %}

        {% include 'evc/widgets/container_action.html.twig'
            with {
            'route': 'app_evc_installation',
            'resource':resource,
            'item':installation,
            'action':'upgrade',
            'id':'upgradeInstallation' } %}

        {% include 'evc/widgets/container_action.html.twig'
            with {
            'route': 'app_evc_installation',
            'item':installation,
            'action':'rollingupdate',
            'id':'rollingupdateInstallation' } %}

        {% include 'evc/widgets/container_action.html.twig'
            with {
            'route': 'app_evc_installation',
            'item':installation,
            'action':'uninstall',
            'id':'uninstallInstallation' } %}

        {% include 'evc/widgets/container_action.html.twig'
            with {
            'route': 'app_evc_installation',
            'item':installation,
            'action':'install',
            'id':'installInstallation' } %}

    {% endfor %}
{% endif %}
