<div class="modal fade" style="text-align: center" id="{{ id }}{% if item.id is defined %}{{ item.id }}{% endif %}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Title"><b>{% if item.id is defined %}{{ 'edit configuration'|trans|capitalize }}{{ item.id }}{%  else %}{{ 'add configuration'|trans|capitalize }}{% endif %}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{{ path(route, {id: resource.id}) }}" method="post">
                <div class="form-group">
                    <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="configuration[name]" name="configuration[name]" value="{% if item.description is defined %}{{ item.name }}{% endif %}">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                    <input type="text" class="form-control form-control-lg" id="configuration[description]" name="configuration[description]" value="{% if item.description is defined %}{{ item.description }}{% endif %}">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'theme'|trans|capitalize }}</label>
                    <select id="configuration[configuration][theme]" name="configuration[configuration][theme]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        <option value="nl-design" {% if item.configuration.theme  is defined and "nl-design" == item.configuration.theme %}selected=""{% endif %}>nl-design</option>
                        <option value="flatland" {% if item.configuration.theme  is defined and "flatland" == item.configuration.theme %}selected=""{% endif %}>flatland</option>
                        <option value="listy"   {% if item.configuration.theme  is defined and "listy" == item.configuration.theme %}selected=""{% endif %}>listy</option>
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'color scheme'|trans|capitalize }}</label>
                    <select id="configuration[configuration][colorScheme]" name="configuration[configuration][colorScheme]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        <option value="background--violet" {% if item.configuration.colorScheme  is defined and "background--violet" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'violet'|trans|capitalize }}</option>
                        <option value="background--roze"   {% if item.configuration.colorScheme  is defined and "background--roze" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'roze'|trans|capitalize }}</option>
                        <option value="background--rood"   {% if item.configuration.colorScheme  is defined and "background--rood" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'rood'|trans|capitalize }}</option>
                        <option value="background--robijnrood" {% if item.configuration.colorScheme  is defined and "background--robijnrood" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'robijnrood'|trans|capitalize }}</option>
                        <option value="background--paars"  {% if item.configuration.colorScheme  is defined and "background--paars" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'paars'|trans|capitalize }}</option>
                        <option value="background--oranje" {% if item.configuration.colorScheme  is defined and "background--oranje" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'oranje'|trans|capitalize }}</option>
                        <option value="background--lichtblauw" {% if item.configuration.colorScheme  is defined and "background--lichtblauw" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'lichtblauw'|trans|capitalize }}</option>
                        <option value="background--hemelblauw" {% if item.configuration.colorScheme  is defined and "background--hemelblauw" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'hemelblauw'|trans|capitalize }}</option>
                        <option value="background--donkerblauw" {% if item.configuration.colorScheme  is defined and "background--donkerblauw" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'donkerblauw'|trans|capitalize }}</option>
                        <option value="background--geel" {% if item.configuration.colorScheme  is defined and "background--geel" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'geel'|trans|capitalize }}</option>
                        <option value="background--donkergeel" {% if confitemiguration.configuration.colorScheme  is defined and "background--donkergeel" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'donkergeel'|trans|capitalize }}</option>
                        <option value="background--mintgroen" {% if item.configuration.colorScheme  is defined and "background--mintgroen" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'mintgroen'|trans|capitalize }}</option>
                        <option value="background--mosgroen" {% if item.configuration.colorScheme  is defined and "background--mosgroen" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'mosgroen'|trans|capitalize }}</option>
                        <option value="background--groen" {% if item.configuration.colorScheme  is defined and "background--groen" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'groen'|trans|capitalize }}</option>
                        <option value="background--donkergroen" {% if item.configuration.colorScheme  is defined and "background--donkergroen" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'donkergroen'|trans|capitalize }}</option>
                        <option value="background--bruin" {% if item.configuration.colorScheme  is defined and "background--bruin" == item.configuration.colorScheme %}selected=""{% endif %}>{{ 'bruin'|trans|capitalize }}</option>
                        <option value="background--donkerbruin" {% if item.configuration.colorScheme  is defined and "background--donkerbruin" == item.configuration.colorScheme %}selected=""{% endif %}> {{ 'donkerbruin'|trans|capitalize }}</option>
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'mainMenu'|trans|capitalize }}</label>
                    <select id="configuration[configuration][mainMenu]" name="configuration[configuration][mainMenu]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        {% if menus is defined %}
                            {% for menu in menus %}
                                <option value="{{ menu['@id'] }}" {% if item.configuration.mainMenu  is defined and menu['@id'] == item.configuration.mainMenu   %}selected=""{% endif %}>{{ menu.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'footer1'|trans|capitalize }}</label>
                    <select id="configuration[configuration][footer1]" name="configuration[configuration][footer1]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        {% if menus is defined %}
                            {% for menu in menus %}
                                <option value="{{ menu['@id'] }}" {% if item.configuration.footer1  is defined and menu['@id'] == item.configuration.footer1   %}selected=""{% endif %}>{{ menu.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'footer2'|trans|capitalize }}</label>
                    <select id="configuration[configuration][footer2]" name="configuration[configuration][footer2]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        {% if menus is defined %}
                            {% for menu in menus %}
                                <option value="{{ menu['@id'] }}" {% if item.configuration.footer2  is defined and menu['@id'] == item.configuration.footer2   %}selected=""{% endif %}>{{ menu.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'footer3'|trans|capitalize }}</label>
                    <select id="configuration[configuration][footer3]" name="configuration[configuration][footer3]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        {% if menus is defined %}
                            {% for menu in menus %}
                                <option value="{{ menu['@id'] }}" {% if item.configuration.footer3  is defined and menu['@id'] == item.configuration.footer3   %}selected=""{% endif %}>{{ menu.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label for="largeInput">{{ 'footer4'|trans|capitalize }}</label>
                    <select id="configuration[configuration][footer4]" name="configuration[configuration][footer4]" class="form-control form-control-lg" >
                        <option value="">{{ 'none'|trans|capitalize }}</option>
                        {% if menus is defined %}
                            {% for menu in menus %}
                                <option value="{{ menu['@id'] }}" {% if item.configuration.footer4  is defined and menu['@id'] == item.configuration.footer4   %}selected=""{% endif %}>{{ menu.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div><!-- /.form-group -->

                {% if item['id'] is defined %}
                <input type="hidden" id="configuration[id]" name ="configuration[id]" value="{{ item['id'] }}">
                {% endif %}
                {% if item['@id'] is defined %}
                <input type="hidden" id="configuration[@id]" name ="configuration[@id]" value="{{ item['@id'] }}">
                {% endif %}
                {% if resource['organization'] is defined %}
                <input type="hidden" id="configuration[organization]" name ="configuration[organization]" value="{{ resource['organization']['@id'] }}">
                {% endif %}
                <button type="submit" class="btn btn-success m-3  mx-auto">
                    {% if item['id'] is defined %}{{ 'save'|trans|capitalize }}{% else %}{{ 'add'|trans|capitalize }}{% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
