<div class="card full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'cases'|trans|capitalize }}</h3>
    </div>
    <div class="card-body">
        {% if cases is defined %}
            <div class="card-list">
                {% for case in cases %}
                    <div class="item-list">
                        <div class="info-user ml-3">
                            <div class="username"><h4>{{ menu.name|capitalize }}</h4></div>
                            <div class="status">{{ menu.description }}</div>
                        </div>
                        <a class="btn btn-icon btn-primary btn-round btn-s"
                           style="margin-right: 5px"
                           href="{{ path('app_zgw_case', {id: case}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button class="btn btn-icon btn-danger btn-round btn-s"
                                style="margin-right: 15px" data-toggle="modal"
                                data-target="#deleteCase{{ case }}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div><!-- /.item-list -->
                {% endfor %}
            </div><!-- /.card-list -->
        {% endif %}

        <div class="card-body">
        </div> <!-- /.card-body -->

    <div class="card-action">
        {% if resource.organization is defined and resource.requestType is defined %}<a class="btn btn-info btn-block" style="margin-right: 25px" href="#addCase"  data-toggle="modal" data-target="#addCase">{{ 'add case'|trans|capitalize }}</a>{% endif %}
    </div><!-- /.card-action -->
</div><!-- /.card -->
