<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'documents'|trans|capitalize }}</h3>
    </div>



    <div class="card-body">
        {% if documents is defined %}
            <div class="card-list">
                {% for document in documents %}
                    <div class="item-list">
                        <div class="info-user ml-3">
                            <div class="username"><h4>{{ document.name }}</h4></div>
                            <div class="status">{{ 'file type'|trans|capitalize }}: {{ document.type }}</div>
                        </div>
                        <a class="btn btn-primary btn-s" style="margin-right: 5px"
                        href="{{ path('app_vrc_download',{'id': document.id, 'requestId': resource.id}) }}">
                            <i class="fas fa-download"></i>
                        </a>
                    </div><!-- /.item-list -->
                {% endfor %}
            </div><!-- /.card-list -->
        {% endif %}
    </div> <!-- /.card-body -->

</div><!-- /.card -->
