
<div class="card full-height">
    <div class="card-header">
        <h2 class="d-inline-block">{{ 'messages'|trans|capitalize }}</h2>
        <button style="padding: 7px 14px 7px 14px;" type="button"
                class="btn btn-primary float-right"
                data-toggle="modal" data-target="#contactModal"><i style=""
                                                                   class="fas fa-plus"></i>
        </button>
    </div>

    {% if messages is defined %}
        <div class="card-list">
            {% for message in messages %}
                <div class="item-list">
                    <div class="info-user ml-3">
                        <div class="name"><h4>{{ commonground_resource(message.reciever).name|capitalize }}</h4></div>
                        <div class="description">{{ message.status }}</div>
                    </div>
                    <a class="btn btn-icon btn-primary btn-round btn-s"
                       style="margin-right: 5px"
                       href="{{ path('app_bs_message', {id: message.id}) }}">
                        <i class="fa fa-edit" style="margin: 12px !important;"></i>
                    </a>
                    <button class="btn btn-icon btn-danger btn-round btn-s"
                            style="margin-right: 15px" data-toggle="modal"
                            data-target="#deleteMessage{{ message.id }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div><!-- /.item-list -->
            {% endfor %}
        </div><!-- /.card-list -->
    {% endif %}


    <div class="card-body">
    </div> <!-- /.card-body -->
</div>
