




{% if property.format is not defined %}
    {{ value }}

{% elseif property.iri is defined and '/' in property.iri %}

    {% set component = property.iri|split('/') %}
    {% set path = 'app_' ~ component[0] ~ '_' ~ component[1] %}
    {% set resource = commonground_resource(value) %}

    {% if property.iri == 'orc/order' %}
        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}" ><i class="fa fa-trash"></i></a> <a href="{{ path(path, {'id': resource.id}) }}"> {{ resource.reference }}</a>
    {% elseif property.iri == 'pdc/offer'  %}
        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}" ><i class="fa fa-trash"></i></a> <a href="{{ path(path, {'id': resource.id}) }}"> {{ resource.name }}</a>
    {% elseif property.iri == 'irc/assent'  %}
        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}" ><i class="fa fa-trash"></i></a> <a href="{{ path(path, {'id': resource.id}) }}"> {{ commonground_resource(resource.contact).name }} ({{ resource.status|trans }})</a>
    {% elseif property.iri == 'vrc/request'  %}
        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}" ><i class="fa fa-trash"></i></a> <a href="{{ path(path, {'id': resource.id}) }}"> {{ cgresource.reference }}</a>
    {% endif %}

{% elseif property.format == 'date' %}
    <a class="btn btn-danger btn-sm" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}"><i class="fa fa-trash"></i></a> {{ value }}

{% else %}
    <a class="btn btn-danger btn-sm" data-target="#unsetProperty{{ property.id }}" href="#unsetProperty{{ property.id }}"><i class="fa fa-trash"></i></a> {{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}

{% endif %}
