<div class="card full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'properties'|trans|capitalize }}</h3>
    </div>
    <div class="card-body p-0">
        {% if requestType.properties is defined %}
            <table class="table table-hover" id="is it here?">
                <thead>
                <tr>
                    <td></td>
                    <td>{{ 'name'|trans|capitalize }}</td>
                    <td>{{ 'value'|trans|capitalize }}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for property in requestType.properties %}
                    {% if property.type is defined and property.type is not empty and property.title != 'Order'
                        and property.title != 'Extras'
                        and property.title != 'Overig' %}
                    <tr>
                        <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                            {% if property.required is defined and property.required  %}
                                {% if property.name in resource.properties|keys %}
                                    <i style="color: limegreen;" class="fas fa-check" data-toggle="tooltip" data-placement="right" title="{{ property.description }}"></i>
                                {% else %}
                                    <i style="color: red" class="fas fa-times" data-toggle="tooltip" data-placement="right" title="{{ property.description }}"></i>
                                {% endif %}
                            {% else %}
                                <i style="color: deepskyblue" class="fas fa-info" data-toggle="tooltip" data-placement="right" title="{{ property.description }}"></i>
                            {% endif %}
                        </td>
                        <td>{{ property.title|trans|capitalize }}</td>

{#                        <td>{{ property.type }} ({{ property.format }} | {{ property.iri }})</td>#}

                        <td>{% if property.name in resource.properties|keys  %}
                                    {% include 'vrc/widgets/property.html.twig'
                                    with {
                                        'property':property,
                                        'value':resource.properties[property.name] } %}
                            {% else %}
                                <span style="color: lightgrey;" class="danger">{{ 'no value'|trans|capitalize }}</span>
                            {% endif %}
                        </td>
                        {% if property.name not in resource.properties|keys %}
                        <td>
                                <a style="float: right" class="btn btn-success" data-toggle="modal"  data-target="#updateProperty{{ property.id }}" href="#updateProperty{{ property.id }}"><i class="fa fa-plus"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                {#
                {% for key,value in resource.properties %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ dump(value) }}</td>
                    </tr>
                {% endfor %}
                #}
                </tbody>
            </table>
        {% endif %}
    </div> <!-- /.card-body -->
</div><!-- /.card -->

{% if requestType is defined and requestType is not empty %}
{% for property in requestType.properties %}

    {%  include 'vrc/modals/unsetProperty.html.twig'
        with {
        'route': 'app_vrc_request',
        'property':property,
        'resource':resource,
        'id':property.id } %}

{#    {%  include 'vrc/modals/setProperty.html.twig'#}
{#        with {#}
{#        'route': 'app_vrc_request',#}
{#        'property':property,#}
{#        'resource':resource,#}
{#        'id':property.id }%}#}

    {%  include 'vrc/modals/updateProperty.html.twig'
        with {
        'route': 'app_vrc_request',
        'property':property,
        'resource':resource,
        'id':property.id }%}

{% endfor %}
{% endif %}



