<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'submitters'|trans|capitalize }}</h3>
    </div>

    {% if submitters is defined %}
    <div class="card-list">
        {% for submitter in submitters %}
            <div class="item-list">
                <div class="info-user ml-3">
                    <div class="username"><h4>{{ commonground_resource(submitter.person).name }}</h4></div>
                    <div class="status">{{ commonground_resource(submitter.assent).status }}</div>
                </div>
                <button class="btn btn-icon btn-primary btn-round btn-s"
                   style="margin-right: 5px" data-toggle="modal"
                        data-target="#editSubmitter{{ submitter.id }}">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-icon btn-danger btn-round btn-s"
                        style="margin-right: 15px" data-toggle="modal"
                        data-target="#deleteSubmitter{{ submitter.id }}">
                    <i class="fa fa-trash"></i>
                </button>
            </div><!-- /.item-list -->
        {% endfor %}
    </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->

    <div class="card-action">
       <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addCase"  data-toggle="modal" data-target="#addSubmitter">{{ 'add submitter'|trans|capitalize }}</a>
    </div><!-- /.card-action -->

</div><!-- /.card -->
