<div class="card full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'tasks'|trans|capitalize }}</h3>
    </div>
    {% if tasks is defined %}
        <div class="card-list">
            {% for task in tasks %}
                <div class="item-list">
                    <div class="info-user ml-3">
                        <div class="name"><h4>{{ task.name|capitalize }}</h4></div>
                        <div class="description">{{ task.description }}</div>
                    </div>
                    <a class="btn btn-icon btn-primary btn-round btn-s"
                       style="margin-right: 5px"
                       href="{{ path('app_tc_task', {id: task.id}) }}">
                        <i class="fa fa-edit" style="margin: 12px !important;"></i>
                    </a>
                    <button class="btn btn-icon btn-danger btn-round btn-s"
                            style="margin-right: 15px" data-toggle="modal"
                            data-target="#deleteTask{{ task.id }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div><!-- /.item-list -->
            {% endfor %}
        </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->

    <div class="card-action">
        <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addTask"
           data-toggle="modal" data-target="#addTask">{{ 'add task'|trans|capitalize }}</a>
    </div><!-- /.card-action -->
</div><!-- /.card -->

{# the role modals #}
{% include 'vrc/modals/task.html.twig'
    with {
    'route': 'app_tc_task',
    'resource':resource,
    'id':'addTask' } %}

{% if tasks is defined %}
    {% for task in tasks %}
        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_tc_task',
            'resource':resource,
            'item':task,
            'id':'deleteTask' } %}
    {% endfor %}
{% endif %}
