{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'message',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'messages' : {
                        'name' : 'messages',
                        'path' : 'app_bs_messages'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_bs_message', {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_bs_messages')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <button class="btn btn-info mr-4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'options'|trans|capitalize }}</button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#changeLog" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a href="#delete" class="dropdown-item text-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        </div>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'receiver'|trans|capitalize }}</label>
                                                <select name="reciever" id="reciever" class="form-control form-control-lg" required>
                                                    {
                                                    {% for person in people %}
                                                        <option value="{{ person['@id']}} "{% if resource.reciever is defined and resource.reciever == person['@id']  %}selected{% endif %}>{{ person.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'sender'|trans|capitalize }}</label>
                                                <select name="sender" id="sender" class="form-control form-control-lg" required>
                                                    {
                                                    {% for person in people %}
                                                        <option value="{{ person['@id']}} "{% if resource.sender is defined and resource.sender == person['@id']  %}selected{% endif %}>{{ person.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'content'|trans|capitalize }}</label>
                                                <select name="content" id="content" class="form-control form-control-lg" required>
                                                    {
                                                    {% for template in templates %}
                                                        <option value="{{ template['@id']}} "{% if resource.content is defined and resource.content == template['@id']  %}selected{% endif %}>{{ template.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'service'|trans|capitalize }}</label>
                                                <select name="content" id="content" class="form-control form-control-lg" required>
                                                    {
                                                    {% for service in services %}
                                                        <option value="{{ service['@id']}} "{% if resource.service is defined and resource.service == service['@id']  %}selected{% endif %}>{{ service.type }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'status'|trans|capitalize }}</label>
                                                <select id="status" name="status" class="form-control form-control-lg">
                                                    <option value="concept" {% if resource.status is defined and 'concept' == resource.status  %}selected{% endif %}>{{ 'concept'|trans|capitalize }}</option>
                                                    <option value="queued" {% if resource.status is defined and 'queued' == resource.status  %}selected{% endif %}>{{ 'queued'|trans|capitalize }}</option>
                                                    <option value="sending" {% if resource.status is defined and 'sending' == resource.status  %}selected{% endif %}>{{ 'sending'|trans|capitalize }}</option>
                                                    <option value="send" {% if resource.status is defined and 'send' == resource.status  %}selected{% endif %}>{{ 'send'|trans|capitalize }}</option>
                                                    <option value="delivered" {% if resource.status is defined and 'delivered' == resource.status  %}selected{% endif %}>{{ 'delivered'|trans|capitalize }}</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'external Service Id'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="externalServiceId" name ="externalServiceId" value="{% if resource.externalServiceId is defined %}{{ resource.externalServiceId }}{% endif %}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'send'|trans|capitalize }}</label>
                                                <input type="datetime-local" class="form-control form-control-lg" id="send" name ="send" value="{% if resource.send is defined %}{{ resource.send }}{% endif %}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'data'|trans|capitalize }}</label>
                                                <textarea class="form-control summernote" rows="5" id="data[]" name=data[]>{% if resource.data is defined %}{{ resource.data }}{% endif %}</textarea>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->
                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-inner -->

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_bs_message',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_bs_message',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_bs_message',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    </div>
    <script>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/bs/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/bs/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
