{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% if resource.organization is defined %}
            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'service',
                'name' : resource.organization,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'services' : {
                        'name' : 'services',
                        'path' : 'app_bs_services'
                    }
                }]
            }
            %}
            {% else %}
                {% include 'widgets/babs/title_h1.html.twig' with {
                    'headerTitle': 'service',
                    'name' : 'service',
                    'breadcrumbs': [{
                        'home' : {
                            'name' : 'home',
                            'path' : 'app_default_index'
                        },
                        'services' : {
                            'name' : 'services',
                            'path' : 'app_bs_services'
                        }
                    }]
                }
                %}
            {% endif %}
            <div class="page-inner">
                <form action="{{ path('app_bs_service', {id: resource.id}) }}" method="post">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ 'service'|trans|capitalize }} </h2>
                                    <div class="float-right">
                                        <a class="btn btn-primary mr-4" href="{{ path('app_bs_services')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                        <button class="btn btn-info mr-4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label"><i class="fas fa-cog mr-2"></i></span>{{ 'options'|trans|capitalize }}</button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(710px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#changeLog" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="dropdown-item text" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a href="#delete" class="dropdown-item text-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                        </div>
                                        <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'type'|trans|capitalize }}</label>
                                                <select id="type" name="type" class="form-control form-control-lg">
                                                    <option value="mailer" {% if resource.type is defined and 'mailer' == resource.type  %}selected{% endif %}>{{ 'mailer'|trans|capitalize }}</option>
                                                    <option value="messagebird" {% if resource.type is defined and 'messagebird' == resource.type  %}selected{% endif %}>{{ 'messageBird'|trans|capitalize }}</option>
                                                </select>
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'authorization'|trans|capitalize }}</label>
                                                <input type="text" class="form-control form-control-lg" id="authorization" name="authorization">
                                            </div>
                                        </div> <!-- /.col -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="largeInput">{{ 'organization'|trans|capitalize }}</label>
                                                <select name="organization" id="organization" class="form-control form-control-lg" required>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization.rsin }}"{% if resource.organization is defined and resource.organization == organization.rsin  %}selected{% endif %}>{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>  <!-- /.col -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.card-body -->

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->

                        </div><!-- /.card -->
                    </div>

                    <div class="col-md-6">
                        <div class="card p-4">
                            <div class="card-header">
                                <h2 class="d-inline-block">{{ 'configurations'|trans|capitalize }}</h2>
                                <div class="float-right">
                                    <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addConfiguration"  data-toggle="modal" data-target="#addConfiguration"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="configBody">
                                    {% if resource.configuration is defined %}
                                        {% set value = 0 %}
                                        {% for configuration in resource.configuration %}
                                            <tr id="{{ value }}">
                                                <td id="{{ value }}" colspan="2">
                                                    <input type="text" style="height: fit-content !important;" class="form-control form-control-lg " id="{{ value }}" name ="configuration[]" value="{{ configuration }}" readonly="readonly">
                                                </td>
                                                <td id="{{ value }}">
                                                    <button class="btn btn-danger float-right" id="{{ value }}" type="button" onclick="storedDelete(this)"><i class='fas fa-minus'></i></button>
                                                </td>
                                            </tr>
                                            {% set value = value + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.page-inner -->


            <div class="modal fade" style="text-align: center" id="addConfiguration" tabindex="-1"
                 role="dialog"
                 aria-labelledby="addConfiguration" aria-hidden="true">
                <div class="modal-dialog model-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addScheduleTitle"><b>{{ 'add configuration'|trans|capitalize }}</b></h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                            <input type="text" class="form-control form-control-lg" id="configName" name="name" value="">
                        </div><!-- /.form-group -->
                        <button class="btn btn-success m-3  mx-auto" data-dismiss="modal" onclick="configButton();">{{ 'add'|trans|capitalize }}</button>
                    </div>
                </div>
            </div>

    {% include 'widgets/delete_modal.html.twig'
        with {
        'route': 'app_bs_service',
        'resource':resource,
        'id':'delete' } %}

    {% include 'widgets/auditTrail_modal.html.twig'
        with {
        'route': 'app_bs_service',
        'resource':resource,
        'id':'auditTrial' } %}

    {% include 'widgets/changeLog_modal.html.twig'
        with {
        'route': 'app_bs_service',
        'resource':resource,
        'id':'changeLog' } %}


    {% include 'footer.html.twig' %}

    </div>
    </div>
    <script>
    {% block javascript %}

    //logic for configurations

    function configButton(){
        let counts = document.getElementById("configBody").lastChild.id;
        let parent = document.getElementById("configBody")
        let name = document.getElementById("configName");
        let newConfig = document.createElement("input");
        let tr = document.createElement("tr")
        let td = document.createElement("td")
        let tdButton = document.createElement("td")
        let delButton = document.createElement("button")
        let counter;

        if(counts !== undefined){
            counter = parseInt(counts) + 1;
        } else {
            counter = parent.children.length;
        }

        newConfig.value = name.value;
        newConfig.name = "configuration[]";
        newConfig.className = "form-control form-control-lg"
        newConfig.readOnly = true;
        newConfig.id = counter.toString();
        newConfig.setAttribute("style", "height: fit-content !important;");
        tdButton.id = counter.toString();

        delButton.id = counter.toString();
        delButton.innerHTML = "<i class='fas fa-minus'></i>";
        delButton.addEventListener('click', function(){
            propDelete(newConfig, tr, td);
        });
        delButton.className = "btn btn-danger float-right";
        delButton.type = "button";

        tr.id = counter.toString();
        td.id = counter.toString();
        td.setAttribute("colspan", "2");

        parent.appendChild(tr);
        tr.appendChild(td);
        td.appendChild(newConfig);
        tr.appendChild(tdButton);
        tdButton.appendChild(delButton);

        name.value = "";
    }

    function propDelete(body, tr, td){
        body.remove();
        tr.remove();
        td.remove();
    }

    function storedDelete(given){
    let td = given.parentNode;
    let tr = td.parentNode;
    given.remove();
    td.remove();
    tr.remove();
    }

    //audit_trails
    $.ajax({
        url: "/api/bs/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/bs/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            console.log(result);
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
