{% extends "body.html.twig" %}

{% block content %}



    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'headerTitle': 'accommodation',
                'name' : resource.name,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    },
                    'accommodations' : {
                        'name' : 'accommodations',
                        'path' : 'app_lc_accommodations'
                    }
                }]
            }
            %}
            <div class="page-inner">
                <div class="row">

                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <form action="{{ path('app_lc_accommodation', {id: resource.id}) }}" method="post">
                                <div class="card-header">
                                    <h2 class="d-inline-block">{{ resource.name }} </h2>
                                    <div class="float-right">
                                        <div class="float-right">
                                            <a class="btn btn-primary mr-4" href="{{ path('app_lc_accommodations')}}"><i class="far fa-window-close mr-2"></i>{{ 'cancel'|trans|capitalize }}</a>
                                            <a href="#changeLog" class="btn btn-info" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#changeLog"><i class="far fa-file-alt mr-2"></i>{{ 'change log'|trans|capitalize }}</a>
                                            <a href="#auditTrial" class="btn btn-info" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#auditTrial"><i class="fas fa-list mr-2"></i>{{ 'audit trail'|trans|capitalize }}</a>
                                            <a href="#delete" class="btn btn-danger" style="margin-right: 25px"
                                               data-toggle="modal"
                                               data-target="#delete"><i class="far fa-trash-alt mr-2"></i>{{ 'delete'|trans|capitalize }}</a>
                                            <button class="btn btn-success"><i class="far fa-save mr-2"></i>{{ 'save'|trans|capitalize }}</button>
                                        </div>
                                </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'name'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="name"
                                                           name="name"
                                                           value="{% if resource.name is defined %}{{ resource.name }}{% endif %}"
                                                           required>
                                                </div>
                                            </div> <!-- /.col -->
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'category'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="accommodationCategory"
                                                           name="accommodationCategory"
                                                           value="{% if resource.accommodationCategory is defined %}{{ resource.accommodationCategory }}{% endif %}"
                                                           required>
                                                </div>
                                            </div><!-- /.row -->
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'floor size'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="floorSize"
                                                           name="floorSize"
                                                           value="{% if resource.floorSize is defined %}{{ resource.floorSize }}{% endif %}"
                                                           required>
                                                </div>
                                            </div><!-- /.row -->
                                        </div> <!-- /.card-body -->
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'bathrooms'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="numberOfBathroomsTotal"
                                                           name="numberOfBathroomsTotal"
                                                           value="{% if resource.numberOfBathroomsTotal is defined %}{{ resource.numberOfBathroomsTotal }}{% endif %}"
                                                           required>
                                                </div>
                                            </div> <!-- /.col -->
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'floor level'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="floorLevel"
                                                           name="floorLevel"
                                                           value="{% if resource.floorLevel is defined %}{{ resource.floorLevel }}{% endif %}"
                                                           required>
                                                </div>
                                            </div><!-- /.row -->
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'maximum attendees'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="maximumAttendeeCapacity"
                                                           name="maximumAttendeeCapacity"
                                                           value="{% if resource.maximumAttendeeCapacity is defined %}{{ resource.maximumAttendeeCapacity }}{% endif %}"
                                                           required>
                                                </div>
                                            </div><!-- /.row -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'product'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="product"
                                                           name="product"
                                                           value="{% if resource.product is defined %}{{ resource.product }}{% endif %}"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'resources'|trans|capitalize }}</label>
                                                    <input type="text" class="form-control form-control-lg" id="resources"
                                                           name="resources"
                                                           value="{% if resource.resources is defined %}{{ resource.resources }}{% endif %}"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'place'|trans|capitalize }}</label>
                                                    <select name="place" id="place" class="form-control form-control-lg" required>
                                                        {% for place in places %}
                                                            <option value="{{ place['@id'] }}">{{ place.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">

                                                    <input class="" type="hidden" name="petsAllowed" value="false" />
                                                    {% if resource.petsAllowed is defined %}
                                                        {% if resource.petsAllowed == 'true' %}
                                                            <input class="" type="checkbox" name="petsAllowed" value="true" checked/>
                                                        {% else %}
                                                            <input class="" type="checkbox" name="petsAllowed" value="true" />
                                                        {% endif %}
                                                    {% else %}
                                                        <input class="" type="checkbox" name="petsAllowed" value="true" />
                                                    {% endif %}
                                                    <label for="largeInput">{{ 'pets allowed'|trans|capitalize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">

                                                    <input class="" type="hidden" name="wheelchairAccessible" value="false" />
                                                    {% if resource.wheelchairAccessible is defined %}
                                                        {% if resource.wheelchairAccessible == 'true' %}
                                                            <input class="" type="checkbox" name="wheelchairAccessible" value="true" checked/>
                                                        {% else %}
                                                            <input class="" type="checkbox" name="wheelchairAccessible" value="true" />
                                                        {% endif %}
                                                    {% else %}
                                                        <input class="" type="checkbox" name="wheelchairAccessible" value="true" />
                                                    {% endif %}
                                                    <label for="largeInput">{{ 'wheelchair accessible'|trans|capitalize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="largeInput">{{ 'description'|trans|capitalize }}</label>
                                                    <textarea class="form-control summernote" rows="5" id="description"
                                                              name="description"
                                                              required>{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                                                </div>
                                            </div>  <!-- /.col -->
                                        </div> <!-- /.row -->
                                    </div>

                                <div class="card-action">
                                    {% if resource.dateCreated is defined and resource.dateModified  is defined %}{{ 'created at'|trans|capitalize }} {{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }} | {{ 'last updated add'|trans|capitalize }}{{ resource.dateModified|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}
                                </div><!-- /.card-action -->
                            </form>
                        </div><!-- /.card -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2>Groups</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                    {#                                    {% if resource.groups is defined %}#}
                                    {#                                    {% for group in resource.groups %}#}
                                    {#                                        <tr>#}
                                    {#                                            <td>{{ group.name }}</td>#}
                                    {#                                            <td></td>#}
                                    {#                                        </tr>#}
                                    {#                                    {% endfor %}#}
                                    {#                                    {% endif %}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.page-inner -->

        {% include 'widgets/delete_modal.html.twig'
            with {
            'route': 'app_lc_accommodation',
            'resource':resource,
            'id':'delete' } %}

        {% include 'widgets/auditTrail_modal.html.twig'
            with {
            'route': 'app_lc_accommodation',
            'resource':resource,
            'id':'auditTrial' } %}

        {% include 'widgets/changeLog_modal.html.twig'
            with {
            'route': 'app_lc_accommodation',
            'resource':resource,
            'id':'changeLog' } %}


        {% include 'footer.html.twig' %}

    </div>
    </div>
    <script>
    {% block javascript %}
    //audit_trails
    $.ajax({
        url: "/api/lc/audit_trails",
        type: 'GET',
        dataType: 'json',
        success: function(result) {
            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#audit').append('<tr>')
                $('#audit').append("<td>" + result['hydra:member'][i]['method'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['user'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['ip'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['session'] + "</td>");
                $('#audit').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#audit').append('</tr>')
            }
        },
    });
    //change_logs
    $.ajax({
        url: "/api/lc/change_logs",
        type: 'GET',
        dataType: 'json',
        success: function(result) {

            for(let i = 0; i < result['hydra:member'].length; i++ ){
                $('#changelog').append('<tr>')
                $('#changelog').append("<td>" + result['hydra:member'][i]['version'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['action'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['username'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['data'] + "</td>");
                $('#changelog').append("<td>" + result['hydra:member'][i]['dateCreated'] + "</td>");
                $('#changelog').append('</tr>')
            }
        },
    });
    {% endblock %}
    </script>
{% endblock %}
